doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/about.css")/
	body.about
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-md-18.col-md-offset-1.text-center.clearfix
							h1.page-subtitle О компании
							.about Управляющая компания «БКС» — часть российской группы компаний, предоставляющей частным и институциональным клиентам полный спектр финансовых услуг. С 2000 года компания развивает бизнес услуг по управлению активами, как для частных, так и для корпоративных клиентов.
					.row
						.experience.clearfix.text-center
							.col-sm-4.col-xs-6.col-xs-offset-1.col-sm-offset-0
								.item
									span.icon.year
									b 15 лет
									div управляем активами
										br
										|ПИФов с 2000 года
							.col-sm-4.col-xs-6
								.item.rate
									span.icon.rate
									b AАА-рейтинг
									div входит в группу
										br
										|«очень высокая 
										br
										|надежность»
							.col-sm-4.col-xs-10
								.item
									span.icon.clients
									b 12 000 клиентов
									div уже инвестируют
										br
										|с нами
							.col-sm-4.col-xs-20
								.item
									span.icon.value
									b 9,3 млрд. рублей
									div общая стоимость активов
										br
										|в управлении
							.col-sm-4.col-xs-6
								.item
									span.icon.offices
									b 50 офисов
									div широкая сеть
										br
										|по всей России

		section.why.text-center
			.container
				.row
					h2.section-label Почему БКС?
					.col-md-18.col-md-offset-1.hidden-xs
						.note Управляющая компания «БКС» — часть российской группы компаний, предоставляющей частным и институциональным клиентам полный спектр финансовых услуг. С 2000 года компания развивает бизнес услуг по управлению активами, как для частных, так и для корпоративных клиентов.
				.row
					.col-md-5
						.item
							span.icon.respective
							h3 Ответственность
							p Четкий процесс управления портфелями и контроль рисков, в котором каждый менеджер и аналитик несет ответственность за каждое принятое решение. Это позволяет достигать более стабильных и прогнозируемых результатов для наших клиентов.
					.col-md-5
						.item
							span.icon.professionalism
							h3 Профессионализм
							p Активами клиентов управляет профессиональная команда менеджеров, имеющих многолетний опыт работы на рынках капитала. Качество управления подтверждено высокими рейтингами ведущих независимых агентств РБК, Forbes, Национальная Лига Управляющих.
					.col-md-5
						.item
							span.icon.transparence
							h3 Прозрачность
							p Мы дорожим тем доверием, которое нам оказали клиенты, передав свои средства под управление. Поэтому, мы стараемся дать клиентам максимально полную информацию о состоянии и прогнозах рынка, стратегии управления и составе портфеля.
					.col-md-5
						.item
							span.icon.continuous-progress
							h3 Непрерывное развитие
							p Мы ежедневно работаем над повышением уровня сервиса, внедрением новых технологий и расширением продуктовой линейки. Клиентам доступны инвестиционные решения на основе различных продуктов и стратегий от наиболее консервативных до агрессивных.
		section.awards
			.container
				h2.section-title Рейтинги и достижения
				.row
					.col-md-8.col-md-offset-2
						.item
							span.year
								i
								time 2014
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агентства АО УК «БКС» присвоен рейтинг надежности на уровне «АА-».
				.row
					.col-md-8.col-md-offset-10
						.item
							span.year
								i
								time 2014
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агентства АО УК «БКС» присвоен рейтинг надежности на уровне «АА-».
				.row
					.col-md-8.col-md-offset-2
						.item
							span.year
								i
								time 2014
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агентства АО УК «БКС» присвоен рейтинг надежности на уровне «АА-».
								p
									a.more-link(href="#") Подробнее
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
