doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/contacts.css")/
	body.contacts
		include ./partials/_navigation.jade

		section.offices
			.outer.clearfix
				.col-md-6
					.tab-container
						ul.etabs.offices-tabs.clearfix
							li.item.top-right
								a(href="#tabs1-html") Агенты
							li.item.top
								a(href="#tabs2-html") Партнёры
						#tabs1-html
							ol.offices-list
								li
									a.togglelable.point(href="#" data-point="1")
										span.title «На Проспекте Мира»
									.point-detail
										addr
											|129110, Москва, Проспект Мира, 69, строение 1
										.phone
											span.icon
											a(href="tel:+74957855544") (495) 785-55-44,
											br
											a(href="tel:+74957851999") (495) 785-19-99,
											br
											a(href="+74957853995") (495) 785-39-95
										.email
											span.icon
											|info@msk.bcs.ru
										.time
											span.icon
											|пн–пт: с 10:00 до 20:00
											br
											|сб: выходной
											br
											|вс: выходной
				.col-md-14
					script.
						var contactPoints = {1:[55.786495,37.634344],2:[55.762085,37.570501],3:[55.746573,37.559972],4:[55.731191,37.635309],5:[55.738333,37.661635],6:[55.779859,37.599372],7:[55.709028,37.620761]};
					#contact-map.offices-map-container

		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script.
			var center_latitude = 55.786495, center_longitude = 37.634344;
		script(src="Content/js/vendor/bcs.contacts.js")
