doctype html
html(lang="ru")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    title BCS Broker landing page - structured bonds
    meta(name="description" content="")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/

    link(rel="stylesheet" href="css/fonts.css")/
    link(rel="stylesheet" href="css/vendor/normalize.css")/
    link(rel="stylesheet" href="css/vendor/bootstrap.custom.css")/
    link(rel="stylesheet" href="css/main.css")/
    link(rel="stylesheet" href="css/bonds.css")/
    link(rel="stylesheet" href="css/vendor/selectize.default.css")/
  body.bonds
    header.header
      .top-panel.clearfix
        .container
          .row
            .col-sm-18.col-sm-offset-1
              a.brand(href="http://broker.ru" target="_blank")
                img(src="img/logo.png" alt="БКС Брокер")/
              ul.top-nav.pull-left(role="nav")
                li
                  a(href="#") О компании
                li
                  a(href="#") Личный кабинет
                li
                  a.pseudo-link.offices(href="/contacts") Офисы в москве
              .meta.pull-right
                .search
                  a.search-icon.text-hide(href="#") Поиск
                .phone
                  .phone-icon
                  a.cpc-tel.num(href="tel:88005005545") 8 800 500 55 45
                  span.description бесплатный звонок по России
      nav
        .container
          .row
            .col-sm-18.col-sm-offset-1
              ul.main-nav.clearfix
                li
                  a(href="#") Паевые фонды
                li
                  a(href="#") Доверительное управление
                li
                  a(href="#") ИСС
                li
                  a(href="#") Аналитика
                li
                  a(href="#") Тарифы
                li
                  a(href="#") Поддержка
                li.open-account.last
                  a(href="#") Открыть счёт
      .content.clearfix
        .container
          .row
            .col-sm-11.text-center
              h1.page-title
                |ПАЕВЫЕ
                br
                |ИНВЕСТИЦИОННЫЕ ФОНДЫ
              h2.page-subtitle
                |Достойный вклад
                br
                |в благополучное будущее
              .advice.text-center
                a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
    .what-is.text-center
      .container
        .row
          .col-sm-20
            h2.section-title Паевые инвестиционные фонды—это
            p.description Один из самых простых, доступных и прозрачных способов
              br
              |вложения средств на фондовом рынке. 
        .row
          .col-sm-12.col-sm-offset-4
            p Паевые фонды позволяют начинающим инвесторам, располагающим небольшими суммами, пользоваться всеми преимуществами профессионального управления активами на фондовом рынке и получать доход от вложений.

    section.calculator.clearfix
      .container
        .section-label Калькулятор
        h2.section-title.text-center Оцените потенциальный доход
        .row
          .col-sm-16.col-sm-offset-2
            form.calculator-form.clearfix
              .calc-col-1
                .calc-row
                  label Выберите инвестиционный фонд
                  .opt-group
                    label
                      input(type="radio" name="fund")
                      span Технологии
                    label
                      input(type="radio" name="fund")
                      span Зарубежные рынки
                    label
                      input(type="radio" name="fund")
                      span Глобальные рынки
              .calc-col-2
            
    .teaser.consultation
      .container
        h3.section-title Получите консультацию финансового советника
        .row
          .col-sm-5.col-sm-offset-5
            .time
              span.icon
              p Инвестору не нужно обладать специальными знаниями и тратить время на управление своим инвестиционным портфелем.
          .col-sm-5.col-sm-offset-3
            .trader
              span.icon
              p Финансовый советник БКС подберёт паевой фонд исходя из ваших персональных целей и поможет вам на всех этапах работы.
          .col-sm-20.text-center.actions
            a.btn.btn-yellow(href="#" title="Получить консультацию") Бесплатная консультация эксперта
    section.advantages.text-center
      .container
        h2.section-title.text-center Ваши неоспоримые преимущества
        .row
          .col-sm-6.col-sm-offset-1
            .item
              .icon.shield
              h3 Правовая защищенность
              p Тройной контроль за соблюдением условий инвестирования: со стороны Управляющей компании, Специализированного депозитария и Центрального Банка
          .col-sm-6
            .item
              .icon.value
              h3 Высокий доход
              p При положительной динамике рынка ценных бумаг потенциальная доходность ПИФов значительно превышает ставки банковских вкладов
          .col-sm-6.col-sm-offset-1
            .item
              .icon.immersion
              h3 Без погружения
              p Не нужно обладать специальными знаниями и навыками — команда профессиональных управляющих поможет вам на каждом этапе работы
        .row
          .col-sm-6.col-sm-offset-1
            .item
              .icon.result
              h3 Независимый результат
              p Благодаря грамотному распределению средств, результаты вложений в ПИФ не зависят от состояния отдельных рынков или ценных бумаг
          .col-sm-6
            .item
              .icon.liquidity
              h3 Высокая ликвидность
              p Купить, обменять или продать паи ПИФа можно в любой рабочий день
          .col-sm-6.col-sm-offset-1
            .item
              .icon.management
              h3 Гибкость управления
              p Широкий набор стратегий позволяет найти решения для различных инвестиционных целей, от сохранения капитала до агрессивного роста. Можно изменить выбранную стратегию управления в любой рабочий день.

    section.products
      .container
        .section-label Продукты Управляющей Компании БКС
        h2.section-title.text-center Новая линейка, новые возможности, новые перспективы 
        .row
          .col-sm-19.col-sm-offset-1
            ul.products-list.clearfix
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
        
    .teaser.selection
      .container
        h3.section-title Подобрать оптимальный
          br
          |инвестиционный портфель для вас?
        .row
          .col-sm-10.col-sm-offset-5.text-center
            p Финансовый советник БКС поможет вам подобрать ПИФ или составить оптимальный портфель из нескольких ПИФов, соответствующих вашим инвестиционным целям и ожиданиям.
        .actions
          a.btn.btn-yellow(href="#" title="Сформировать инвестиционный портфель") Сформировать инвестиционный портфель
    section.experience.text-center
      .container
        .section-label Опыт в цифрах
        h2.section-title Управление активами в БКС –
          br
          |взвешенное решение
        .row
          .col-sm-4.col-sm-offset-3
            .item
              span.icon.year
              b 15 лет
              div управляем активами
                br
                |ПИФов с 2000 года
          .col-sm-4.col-sm-offset-1
            .item.rate
              span.icon.rate
              b AАА-рейтинг
              div входит в группу
                br
                |«очень высокая надежность»
          .col-sm-4.col-sm-offset-1
            .item
              span.icon.offices
              b 50 офисов
              div широкая сеть
                br
                |по всей России
        .row  
          .col-sm-4.col-sm-offset-5
            .item
              span.icon.clients
              b 12 000 клиентов
              div уже инвестируют
                br
                |с нами
          .col-sm-4.col-sm-offset-2
            .item
              span.icon.value
              b 9,3 млрд. рублей
              div общая стоимость активов
                br
                |в управлении
    section.feedback
      .container
        h2.section-title.text-center Заполните заявку
          br
          |для получения консультации
        .row
          .col-sm-14.col-sm-offset-3.text-center
            .steps
              span.step.step-1
                span.icon.icon-1
                |Оставьте ваши
                br
                |контактные данные
              span.step.step-2
                span.icon.icon-2
                |Дождитесь звонка,
                br
                |и получите консультацию
                br
                |финансового советника
              span.step.step-3
                span.icon.icon-3
                |Присоединяйтесь 
                br
                |к компании БКС
              
        .row
          .col-sm-6.col-sm-offset-7
            form.feedback-form
              .form-group.clearfix
                label(for="city2") Ваш город
                select.custom-select(id="city2" name="city")
                  option(selected="selected" value="0") Ваш город
                  option(value="108") Москва
                  option(value="134") Новосибирск
                  option(value="46") Абакан
                  option(value="36") Алматы
                  option(value="113") Альметьевск
                  option(value="115") Анапа
                  option(value="119") Армавир
                  option(value="71") Архангельск
                  option(value="105") Астрахань
                  option(value="175") Ачинск
                  option(value="79") Барнаул
                  option(value="139") Белгород
                  option(value="35") Биробиджан
              .form-group.clearfix
                label(for="name") Ваше имя
                input(class="name" type="text" id="name" name="name" placeholder="Ваше имя")
              .form-group.clearfix
                label(for="mobile") Ваш телефон
                input(class="error" type="text" id="mobile" name="phone" placeholder="Ваш телефон")
              .form-group.clearfix
                label(for="email") Ваша Электронная почта
                input(type="text" id="email" name="email" placeholder="Ваша Электронная почта")
              .form-group.label-offset.clearfix.actions
                .advice
                  input.btn.btn-yellow(type="submit", value="Получить консультацию")

    footer.footer.clearfix
      .container
        .panel.clearfix
          a.brand(href="http://broker.ru" target="_blank")
            img(src="img/logo.png" alt="БКС Брокер")/
          .phone.pull-right
            .clearfix
              a.cpc-tel.num(href="tel:88005005545") 8 800 500 55 45
            .clearfix
              span.description бесплатный звонок по России
            span.get-call.pull-right.btn.btn-mini.btn-yellow Заказать звонок
        ol.copy
          li ООО «Компания БКС» лидер в рейтинге ведущих операторов в режиме основных торгов Т+ по акциям по итогам марта 2015 года по данным ОАО Московская Биржа.
          li Дистанционное открытие ИИС (Индивидуального инвестиционного счета) доступно только клиентам заключившим Генеральное соглашение о комплексном обслуживании на рынке ценных бумаг и Соглашение об организации корпоративной системы электронного документооборота «BCS» с ООО «Компания БКС».
          li Доходность по цене последней сделки ОФЗ выпуска 25081 (облигация федерального займа, номер государственной регистрации 25081RMFS, эмитент Министерство Финансов РФ) по состоянию на 03.03.2015 г. 14,26%. Результат инвестирования в прошлом не определяет доходности в будущем. Стоимость ценных бумаг может увеличиваться и уменьшаться. Более подробно с рисками связанными с осуществлением операций на рынке ценных бумаг вы можете ознакомиться в Приложении № 14 к Регламенту оказания услуг на рынке Не является рекламой ценных бумаг.
          li Доходность виртуального портфеля «Meister(Мейстер)», смоделирована экспертами ООО «Компания БКС» с учетом комиссии в 4 рубля за один срочный фьючерсный контракт по данным торгов на ЗАО «ФБ ММВБ» (ОАО Московская Биржа) с 01.02.2014 по 01.02.2015, не учитывает расходы на оплату услуги, брокерских и депозитарных услуг, подачи поручений по телефону и иных расходов, подлежащих оплате клиентом. Полный список тарифов ООО «Компания БКС» приведен в приложении № 11 к Регламенту оказания услуг на рынке ценных бумаг ООО «Компания БКС». Результат инвестирования в прошлом не определяет дохода в будущем. ООО «Компания БКС» не несет ответственности за результаты деятельности по данным рекомендациям. Торговые рекомендации «Биржевой Гуру», предоставляются исключительно в информационных целях и не могут рассматриваться как, или быть использованы в качестве, предложения или побуждения сделать заявку на покупку или продажу, или вложение в ценные бумаги, или другие финансовые инструменты. ООО «Компания БКС» не предпринимает каких-либо шагов к тому, чтобы убедить кого-либо в том, что ценные бумаги, указанные в торговых рекомендациях, являются подходящими для того или иного инвестора.
          li Доходность виртуального портфеля «Лира», смоделирована экспертами ООО «Компания БКС» с учетом комиссии в размере 0,06% от объема сделки по данным торгов на ЗАО «ФБ ММВБ» (ОАО Московская Биржа) с 01.04.2014 по 01.04.2015, не учитывает расходы на оплату услуги, брокерских и депозитарных услуг, подачи поручений по телефону и иных расходов, подлежащих оплате клиентом. Полный список тарифов ООО «Компания БКС» приведен в приложении № 11 к Регламенту оказания услуг на рынке ценных бумаг ООО «Компания БКС». Результат инвестирования в прошлом не определяет дохода в будущем. ООО «Компания БКС» не несет ответственности за результаты деятельности по данным рекомендациям. Торговые рекомендации «Биржевой Гуру», предоставляются исключительно в информационных целях и не могут рассматриваться как, или быть использованы в качестве, предложения или побуждения сделать заявку на покупку или продажу, или вложение в ценные бумаги, или другие финансовые инструменты. ООО «Компания БКС» не предпринимает каких-либо шагов к тому, чтобы убедить кого-либо в том, что ценные бумаги, указанные в торговых рекомендациях, являются подходящими для того или иного инвестора.
          li При внесении на ИИС максимальной суммы в год 400 000 рублей. Налоговый вычет предоставляется только физическим лицам налоговым резидентам РФ, получающим доход облагаемых НДФЛ. (ст.219.1 Налогового кодекса РФ).
    script(src="js/vendor/jquery-2.1.4.min.js")
    script(src="js/vendor/selectize.js")
    script(src="js/main.js")