doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/index.css")/
	body.index
		include ./partials/_navigation.jade
		header.header
			.content.owl-carousel.clearfix
				.item(style="background: url('Content/img/pages/index/header.jpg') no-repeat 60% 50%")
					.container
						.row
							.col-sm-11.text-center.clearfix
								h1.page-title.wow.bounceInDown
									|Достойный вклад
									br
									|в благополучное 
									br
									|будущее
								.page-title-description
									|Инвестируйте в перспективные финансовые инструменты.
									br
									|Доходность ПИФов в 2014 году — до 64% годовых
								.advice.text-center.wow.animated.bounceInUp
									a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
				.item(style="background: url('Content/img/pages/index/header.jpg') no-repeat 60% 50%")
					.container
						.row
							.col-sm-11.text-center.clearfix
								h1.page-title.wow.bounceInDown
									|Достойный вклад
									br
									|в благополучное 
									br
									|будущее
								.page-title-description
									|Инвестируйте в перспективные финансовые инструменты.
									br
									|Доходность ПИФов в 2014 году — до 64% годовых
								.advice.text-center.animated.bounceInUp.wow
									a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше

		include ./partials/_calculator.jade
				
		section.assets-management.text-center.wow.fadeInUp
			.container
				h2.section-title.white.text-center Управление активами в&nbsp;БКС
				.row
					.col-sm-4.col-xs-10
						.item
							.icon.year
							h3 15 лет
							p управляем активами ПИФов с 2000 года
					.col-sm-4.col-xs-10
						.item
							.icon.shield
							h3 AAA
							p входит в группу «очень высокая надежность»
					.col-sm-4.col-xs-10
						.item
							.icon.clients
							h3 11 000
							p клиентов уже инвестируют с нами
					.col-sm-4.col-xs-10
						.item
							.icon.volume
							h3 9.3 млрд. руб.
							p общая стоимость активов в управлении
					.col-sm-4.col-xs-10
						.item.offices
							.icon.offices
							h3 50 офисов
							p широкая сеть по всей России
		section.experts.wow.fadeInUp
			.container
				h2.section-title Комментарии экспертов
				.row
					.col-lg-11.col-lg-offset-2.col-sm-14
						.expert-comment.clearfix
							.author.vcard.clearfix
								img.photo(src="Content/img/pages/index/author.jpg" width="112" height="112" alt="Андрей Стоянов")/
								b.fn Андрей Стоянов
								span.note Портфельный Управляющий
									br
									|Департамента управления
									br
									|российскими акциями
							article
								time(datetime="2015-09-15") 20 сентября
								h3 Долларовые активы могут проявить себя во второй половине года
								p Сложность и непредсказуемость финансовых рынков, которые стали следствием финансового кризиса 2008 года, в последние годы привели к серьезному снижению эффективности стратегий активного управления. Лучшим рынком стал американский рынок, хотя многие инвесторы еще с 2010 года считали его перекупленным, тогда как развивающиеся рынки столкнулись с проблемой "потерянного десятилетия".
								.more-link
									a(href="#") Подробнее
					.col-lg-6.col-sm-6
						ul.news
							li
								time(datetime="2015-06-17") 17 июня 2015
								h5 Глобальная стратегия
								p Эдмунд Шинг, управляющий по глобальным акциям ООО «Компания БКС»
								a.more-link(href="#") Подробнее
							li
								time(datetime="2015-06-17") 17 июня 2015
								h5 Глобальная стратегия
								p Эдмунд Шинг, управляющий по глобальным акциям ООО «Компания БКС»
								a.more-link(href="#") Подробнее
						.all-comments
							a.link(href="#") Смотреть все комментарии


		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
