doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/institutional.css")/
	body.institutional
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center.clearfix
							h1.page-subtitle
								|Решение
								br
								|комплексных задач
								br
								|институциональных
								br
								|клиентов
							.advice
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
		section.what-is.text-center
			.container
				.row
					.col-sm-18.col-sm-offset-1
						p.description Управление активами, кредитование, привлечение финансирования, валютные операции, мы предложим комплексное решение для этих и многих других задач. Для каждого корпоративного клиента мы предлагаем индивидуальный подход и сервис. Мы поможем подобрать наиболее оптимальное решение с учетом юридических, налоговых и других особенностей клиента и его бизнеса.

		section.services.text-center
			.container
				.row
					ul.services-list
						li.col-sm-10
							.item
								h3 Юридическим лицам
								p В нашей линейке представлены разнообразные стратегии доверительного управления для разных типов клиентов, исходя из их риск-профиля, финансовых возможностей, сроков инвестирования и иных факторов. Это позволяет оптимизировать общий портфель, как по валютам, так и по регионам инвестирования. Каждый бизнес уникален, как и требования к инвестиционному портфелю. При разработке стратегии обязательно будут учтены эти уникальные требования к отчетности, ликвидности, а также валютному составу.
								.advice
									a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
						li.col-sm-10
							.item
								h3 Банкам
						li.col-sm-10
							.item
								h3 Пенсионным фондам
						li.col-sm-10
							.item
								h3 Страховым компаниям
								p Индивидуальный подход при разработке инвестиционной стратегии для страховых компаний, позволяет учесть все индивидуальные особенности деятельности, требования и ограничения законодательства при размещении страховых резервов. Оптимальная инвестиционная стратегия разрабатывается исходя из критериев, связанных с целями и задачами инвестирования страховых организаций, приемлемым уровнем риска и ожидаемой доходности, инвестиционным горизонтом и сроками управления.
									br
									|Средства страховых компаний размещаются в строгом соответствии с законодательными требованиями Министерством финансов РФ.
								.advice
									a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
						li.col-sm-10
							.item
								h3 Саморегулируемым организациям
								p Мы оказываем услуги по управлению средствами компенсационного фонда саморегулируемых организаций в строгом соответствии с требованиями Федерального закона от 01.12.07 № 315-ФЗ «О саморегулируемых организациях» и иными нормативными актами регулирующими деятельность СРО на принципах сохранности и прироста.
									br
									|Договором доверительного управления предусмотрен частичный или полный вывод денежных средств для целей перечисления средств на осуществление компенсационных выплат не позднее чем в течение десяти рабочих дней с даты получения уведомления саморегулируемой организации.
								.advice
									a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
						li.col-sm-10
							.item
								h3 Эндаумент-фондам

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
