doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/mutual-funds.css")/
	body.institutional
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center.clearfix
							h1.page-title
								|Решение
								br
								|комплексных задач
								br
								|институциональных
								br
								|клиентов
							.advice
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
		.what-is.text-center
			.container
				.row
					.col-sm-20
						h2.section-title Паевые инвестиционные фонды—это
						p.description Один из самых простых, доступных и прозрачных способов
							br
							|вложения средств на фондовом рынке. 
				.row
					.col-sm-12.col-sm-offset-4
						p Паевые фонды позволяют начинающим инвесторам, располагающим небольшими суммами, пользоваться всеми преимуществами профессионального управления активами на фондовом рынке и получать доход от вложений.

		include ./partials/_calculator.jade
						
		.teaser.consultation
			.container
				h3.section-title Получите консультацию финансового советника
				.row
					.col-sm-5.col-sm-offset-5
						.time
							span.icon
							p Инвестору не нужно обладать специальными знаниями и тратить время на управление своим инвестиционным портфелем.
					.col-sm-5.col-sm-offset-3
						.trader
							span.icon
							p Финансовый советник БКС подберёт паевой фонд исходя из ваших персональных целей и поможет вам на всех этапах работы.
					.col-sm-20.text-center.actions
						a.btn.btn-yellow(href="#" title="Получить консультацию") Бесплатная консультация эксперта
		section.advantages.text-center
			.container
				h2.section-title.text-center Ваши неоспоримые преимущества
				.row
					.col-sm-6.col-sm-offset-1
						.item
							.icon.shield
							h3 Правовая защищенность
							p Тройной контроль за соблюдением условий инвестирования: со стороны УК, Специализированного депозитария и ЦБ
					.col-sm-6
						.item
							.icon.value
							h3 Высокий доход
							p При положительной динамике рынка ценных бумаг потенциальная доходность ПИФов значительно превышает ставки банковских вкладов
								br
								br
					.col-sm-6
						.item
							.icon.immersion
							h3 Без погружения
							p Не нужно обладать специальными знаниями и навыками — команда профессиональных управляющих поможет вам на каждом этапе работы
								br
								br
					.col-sm-6.col-sm-offset-1
						.item
							.icon.result
							h3 Независимый результат
							p Благодаря грамотному распределению средств, результаты вложений в ПИФ не зависят от состояния отдельных рынков или ценных бумаг
					.col-sm-6
						.item
							.icon.liquidity
							h3 Высокая ликвидность
							p Купить, обменять или продать паи ПИФа можно в любой рабочий день
					.col-sm-6
						.item
							.icon.management
							h3 Гибкость управления
							p Широкий набор стратегий позволяет найти решения для различных инвестиционных целей, от сохранения капитала до агрессивного роста. Можно изменить выбранную стратегию управления в любой рабочий день.

		section.products
			.container
				.section-label Продукты Управляющей Компании БКС
				h2.section-title.text-center Новая линейка, новые возможности, новые перспективы 
				.row
					.col-sm-19.col-sm-offset-1
						ul.products-list.clearfix
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
							li
								h4 БКС – Фонд
									br
									|Национальных Облигаций
								.annual-return
									b Годовая доходность
									span 18,28%
								.asset-value-today
									b Стоимость пая сегодня:
									span 3 423 руб
								.min-investment-amount
									b Минимальная сумма инвестиций:
									span 50 000 руб
								.investment-portfolio
									b Инвестиционный портфель:
									span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
								.actions
									a.btn.btn-yellow(href="#") Подробнее
				
		.teaser.selection
			.container
				h3.section-title Подобрать оптимальный
					br
					|инвестиционный портфель для вас?
				.row
					.col-sm-10.col-sm-offset-5.text-center
						p Финансовый советник БКС поможет вам подобрать ПИФ или составить оптимальный портфель из нескольких ПИФов, соответствующих вашим инвестиционным целям и ожиданиям.
				.actions
					a.btn.btn-yellow(href="#" title="Сформировать инвестиционный портфель") Сформировать инвестиционный портфель
		section.experience.text-center
			.container
				.section-label Опыт в цифрах
				h2.section-title Управление активами в БКС –
					br
					|взвешенное решение
				.row
					.col-sm-4.col-sm-offset-3.col-xs-10
						.item
							span.icon.year
							b 15 лет
							div управляем активами
								br
								|ПИФов с 2000 года
					.col-sm-4.col-sm-offset-1.col-xs-10
						.item.rate
							span.icon.rate
							b AАА-рейтинг
							div входит в группу
								br
								|«очень высокая надежность»
					.col-sm-4.col-sm-offset-1.col-xs-10
						.item
							span.icon.offices
							b 50 офисов
							div широкая сеть
								br
								|по всей России
					.col-sm-4.col-sm-offset-5.col-xs-10
						.item
							span.icon.clients
							b 12 000 клиентов
							div уже инвестируют
								br
								|с нами
					.col-sm-4.col-sm-offset-2.col-xs-20
						.item
							span.icon.value
							b 9,3 млрд. рублей
							div общая стоимость активов
								br
								|в управлении
		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
