doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/institutional.css")/
	body.institutional
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center.clearfix
							h1.page-subtitle.wow.bounceInDown
								|Решение
								br
								|комплексных задач
								br
								|институциональных
								br
								|клиентов
							.advice.wow.bounceInUp
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
		section.what-is.text-center.wow.fadeInUp
			.container
				.row
					.col-sm-18.col-sm-offset-1
						.description Управление активами, кредитование, привлечение финансирования, валютные операции, мы предложим комплексное решение для этих и многих других задач. Для каждого корпоративного клиента мы предлагаем индивидуальный подход и сервис. Мы поможем подобрать наиболее оптимальное решение с учетом юридических, налоговых и других особенностей клиента и его бизнеса.

		section.services.text-center.wow.fadeInUp
			.container
				.row
					.col-sm-10
						.item.item-1
							.outer
								.wrap
									h3 Юридическим лицам
									.description
										p В нашей линейке представлены разнообразные стратегии доверительного управления для разных типов клиентов, исходя из их риск-профиля, финансовых возможностей, сроков инвестирования и иных факторов. Это позволяет оптимизировать общий портфель, как по валютам, так и по регионам инвестирования. Каждый бизнес уникален, как и требования к инвестиционному портфелю. При разработке стратегии обязательно будут учтены эти уникальные требования к отчетности, ликвидности, а также валютному составу.
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
					.col-sm-10
						.item.item-2
							.outer
								.wrap
									h3 Банкам
									.description
										p Управляющая компания «БКС» предлагает партнерство Банкам как развитие комиссионного бизнеса и получения дополнительных возможностей в обслуживании клиентов.
										p За долгие годы работы мы  накопили достаточный опыт, позволяющий разрабатывать нестандартные решения и выстраивать с Банками — Партнерами взаимовыгодные отношения.
										p Сотрудничество с  УК «БКС» помогает нашим партнерам привлечь новых клиентов и удержать текущих, получить дополнительный комиссионный доход, расширить продуктовую линейку.
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
				.row
					.col-sm-10
						.item.item-3
							.outer
								.wrap
									h3 Пенсионным фондам
									.description
										p Управляющая компания «БКС» рассматривает участие в пенсионной реформе и сотрудничество с негосударственными пенсионными фондами, как одно из приоритетных направлений своей деятельности.
										p Наша задача — сохранить и приумножить капитал, который нам доверяют негосударственные пенсионные фонды, инвестируя и получая прибыль от вложений в финансовые инструменты.
										p Статус одного из лидеров рынка обязывает нас разрабатывать максимально эффективные, высокотехнологичные стратегии инвестирования средств пенсионных накоплений и пенсионных резервов.
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
					.col-sm-10
						.item.item-4
							.outer
								.wrap
									h3 Страховым компаниям
									.description
										p Индивидуальный подход при разработке инвестиционной стратегии для страховых компаний, позволяет учесть все индивидуальные особенности деятельности, требования и ограничения законодательства при размещении страховых резервов. Оптимальная инвестиционная стратегия разрабатывается исходя из критериев, связанных с целями и задачами инвестирования страховых организаций, приемлемым уровнем риска и ожидаемой доходности, инвестиционным горизонтом и сроками управления.
										p Средства страховых компаний размещаются в строгом соответствии с законодательными требованиями Министерством финансов РФ.
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
				.row
					.col-sm-10
						.item.item-5
							.outer
								.wrap
									h3 Саморегулируемым организациям
									.description
										p Мы оказываем услуги по управлению средствами компенсационного фонда саморегулируемых организаций в строгом соответствии с требованиями Федерального закона от 01.12.07 № 315-ФЗ «О саморегулируемых организациях» и иными нормативными актами регулирующими деятельность СРО на принципах сохранности и прироста.
										p Договором доверительного управления предусмотрен частичный или полный вывод денежных средств для целей перечисления средств на осуществление компенсационных выплат не позднее чем в течение десяти рабочих дней с даты получения уведомления саморегулируемой организации.
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку
					.col-sm-10
						.item.item-6
							.outer
								.wrap
									h3 Эндаумент-фондам
									.description
										p Управляющая компания «БКС» оказывает услуги по управлению средствами целевого капитала некоммерческих организаций в строгом соответствии с требованиями Федерального закона 275-ФЗ «О порядке формирования и использования целевого капитала некоммерческих организаций».
										.advice
											a.btn.btn-yellow(href="#" title="Получить консультацию") Оставить заявку

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_cities-choice.jade
		include ./partials/_footer_scripts.jade
