doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/mutual-funds.css")/
		link(rel="stylesheet" href="Content/css/bond.css")/
	body.mutual-funds.bond.bond-national-fund
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center.clearfix
							h1.page-subtitle
								|Фонд национальных
								br
								|облигаций
							.page-title-description
								|Инвестируйте в высоконадежные государственные
								br
								|ценные бумаги
							.advice.text-center
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше

		include ./partials/_calculator.jade
		section.main-indicator
			.container
				.section-label Основные показатели фонда
				h2.section-title Состав и график доходности
				.row
					.col-sm-18.col-sm-offset-1
						.main-indicator-graph
							.caption Дата формирования фонда хх.хх.хххх г.
							.tab-container
								ul.etabs.clearfix
									li.tab
										a(href="#tabs1-html")
											span.corner
												i
											|Динамика стоимости пая и СЧА
									li.tab
										a(href="#tabs2-html")
											span.corner
												i
											|Распределение активов
								#tabs1-html.tab-content
									.legend.clearfix
										.item.item-1
											span.icon
											|— стоимость пая
										.item.item-2
											span.icon
											|— стоимость СЧА
									#line-graph.graph
									.timing
										span.item 3 мес
										span.item 6 мес
										span.item 1 год
										span.item 2 года
										span.item с момента формирования фонда
								#tabs2-html.tab-content
									#pie-graph.graph.pie-graph
								.actions.text-center
										a.btn.btn-yellow(href="#") Оставить заявку
							.cost
								h3.title Стоимость пая и чистых активов на 18.08.2015
								table.cost-table
									tr
										th &nbsp;
										th 18.08.2015
										th Изменения за 1 день
									tr
										td Стоимость чистых активов, руб. коп
										td 261 551 258,90 руб.
										td.red
											span.red - 0,04% / - 96 237,17 руб.
									tr
										td Стоимость пая, руб. коп.
										td 3 472,84 руб.
										td.green
											span.green 0,00% / -0,05 руб.
				
		section.advantages.bond-national-fund.text-center
			.container
				h2.section-title.text-center Преимущества фонда
				.row
					.col-sm-6.col-sm-offset-1.col-xs-10
						.item
							.icon.income
							h3 Доход
							p Высокий доход по сравнению с доходностью высоконадёжных государственных ценных бумаг
					.col-sm-6.col-xs-10
						.item
							.icon.investment
							h3 Инвестирование
							p Возможность инвестирования в еврооблигации и хеджирования валютных рисков
					.col-sm-6.col-xs-10
						.item
							.icon.management
							h3 Управление
							p Консервативная стратегия управления, в первую очередь направленная на сохранение инвестиций
					.col-sm-6.col-sm-offset-1.col-xs-10
						.item
							.icon.sell-buy
							h3 Купля-продажа
							p Возможность купить или продать пай в любой момент без потери накопленного дохода
					.col-sm-6.col-xs-10
						.item
							.icon.bonds
							h3 Облигации
							p В состав портфеля включаются еврооблигации и облигации крупных зарубежных компаний!
					.col-sm-6.col-xs-10
						.item
							.icon.control
							h3 Контроль
							p Контроль риска
								br
								|вложений бумаг
		section.fund-rates
			.container
				h2.section-title Тарифы фонда
				.row
					.col-sm-12.col-sm-offset-4
						table.fund-rates-tabs
							tr
								td
									a.buy(href="#fund-rates-buy") Приобретение
										br
										|паев
								td
									a.sell(href="#fund-rates-sell") Погашение
										br
										|паев
								td
									a.profit(href="#fund-rates-profit") Вознаграж-
										br
										|дение
						table#fund-rates-buy.fund-rates-content
							caption
								b Погашение паев
								|Скидка, при погашении паев, в % от стоимости пая
							tr.filled
								td
									|при подаче заявки в Управляющую компанию*
									br
									br
									|при подаче заявки Агентам Фонда ООО «Компания БКС»
								td 0
							tr
								td при погашении паев в период владения до 1 года
								td 2%
							tr
								td при погашении паев в период владения до 1 года
								td 2%
							tr
								td при погашении паев в период владения до 1 года
								td 2%
							tr
								td при погашении паев в период владения до 1 года
								td 2%

		section.documentation.bond-national-fund
			.container
				h2.section-title Документы фонда
				.row
					.col-sm-16.col-sm-offset-2
						.dates.clearfix
							.reg-num
								|Регистрационный номер правил фонда: 
								b 0140-58233625
							.reg-date
								|Дата регистрации правил фонда: 
								b 08.10.2003
				.row
					.docs-list.clearfix
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила определения стоимости активов и величины обязательств
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила доверительного управления ПИФа
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила определения стоимости активов на 2014 год
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Политика осуществления прав голоса по акциям
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Банковские реквизиты для перечисления средств в оплату паев ПИФ «БКС»					

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="Content/js/vendor/jquery.browser.js")
		script(src="Content/js/vendor/easytabs.min.js")
		script(src="Content/js/vendor/jquery.hashchange.min.js")
		script(src="Content/js/vendor/highcharts.js")
		script.
			$(function () {
				$('#line-graph').highcharts({
					chart: {
						type: 'line'
					},
					credits: {
						enabled: false
					},
					title: {
						align: 'left',
						text: '20 Мая 2014г. — 20 Марта 2015г.',
						style: {
							color: '#8198b6',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					subtitle: {
						align: 'right',
						text: '↑ 1380.56 руб.(64.19%)',
						y: 12,
						style: {
							color: '#3bb303',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					xAxis: {
						categories: ["Янв,<br>2015", 'Фев,<br>2015', 'Мар,<br>2015', 'Апр,<br>2015', 'Май,<br>2015', 'Июн,<br>2015'],
						labels: {
							rotation: 0,
							style: {
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							},
						},
					},
					yAxis: [{
						labels: {
							format: '{value} тыс.',
							style: {
								//color: Highcharts.getOptions().colors[1],
								color: '##002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						title: {
							text: ''
						}
					}, {
						title: {
							text: '',
							style: {
								//color: Highcharts.getOptions().colors[0]
							}
						},
						labels: {
							format: '{value} млн.',
							style: {
								//color: Highcharts.getOptions().colors[0],
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						opposite: true
					}],
					plotOptions: {
						line: {
							dataLabels: {
								//enabled: true
							},
							enableMouseTracking: false
						}
					},
					series: [{
						name: 'Стоимость пая',
						data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5],
						color: '#4992ff',
						marker: {
							symbol: 'circle',
							lineWidth: 3,
							radius: 3,
							lineColor: '#4992ff',
							fillColor: '#ffffff'
						},
					}, {
						name: 'Стоимость СЧА',
						yAxis: 1,
						color: '#ffc300',
						data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2],
						marker: {
							symbol: 'circle',
							lineWidth: 3,
							radius: 3,
							lineColor: '#ffc300',
							fillColor: '#ffffff'
						},
					}],
					legend: {
						enabled: false,
						layout: 'horizontal',
						align: 'left',
						x: 0,
						verticalAlign: 'top',
						y: 0,
						floating: true,
						style: {
							color: '#002a61',
							font: '12px FuturaNew',
							fontWeight: '400'
						},
						backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
					},
				});
				
				$('#pie-graph').highcharts({
					chart: {
						renderTo: 'container',
						type: 'pie'
					},
					credits: {
						enabled: false
					},
					title: {
						text: ''
					},
					yAxis: {
						title: {
							text: 'Total percent market share'
						}
					},
					plotOptions: {
						pie: {
							shadow: false,
							center: ['50%', '50%']
						}
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
						}
					},
					legend: {
						enabled: false,
					},
					series: [{
						name: 'Browsers',
						data: [["Сырьё",30],["Финансы",40],["Нефть и газ",40]],
						size: '75%',
						innerSize: '70%',
						showInLegend:true,
						dataLabels: {
							enabled: true,
							style: {
								color: '#002a61',
								font: '14px FuturaNew',
								fontWeight: '400',
							}
						}
					}]
				});
				
				$('.calculator-form input[name="fund"][value="2"]').prop('checked', true);
				$('.calculator-form input[name="fund"]').prop('disabled', true);
				$('.custom-radio input:checked').parent().addClass('checked').parent().addClass('checked');
			});
