doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/mutual-funds.css")/
		link(rel="stylesheet" href="Content/css/bond.css")/
	body.mutual-funds.bond.techno-fund
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center.clearfix
							h1.page-subtitle
								|Фонд технологии
							.page-title-description
								|Используйте потенциал быстроразвивающихся 
								br
								|технологичных компаний
							.advice.text-center
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше

		include ./partials/_calculator.jade
		include ./partials/_main_indicator.jade
				
		section.advantages.techno-fund.text-center
			.container
				h2.section-title.text-center Преимущества фонда
				.row
					.col-sm-6.col-sm-offset-1.col-xs-10
						.item
							.icon.extensive
							h3 Широкие возможности
							p Инвестирование как в российские,так глобальные акции, с потенциалом дивидендной доходности
					.col-sm-6.col-xs-10
						.item
							.icon.dividend
							h3 Дивиденды
							p Обеспечение регулярного дивидендного потока от вложения средств фонда
					.col-sm-6.col-xs-10
						.item
							.icon.unique-opportunit
							h3 Уникальная возможность
							p Участие в офертах и обратных выкупах акций компаниями
								br
								br
								br
					.col-sm-6.col-sm-offset-1.col-xs-10
						.item
							.icon.high-potential
							h3 Высокий потенциал
							p Доход генерируется как при росте цены акций в силу различных корпоративных событий, так и в виде дивидендов
					.col-sm-6.col-xs-10
						.item
							.icon.liquidity
							h3 Ликвидность
							p Возможность входа/выхода в любой момент без потери накопленного дохода
					.col-sm-6.col-xs-10
						.item
							.icon.diversification
							h3 Диверсификация
							p Участие в «дивидендном» сегменте российского и международного рынков акций.
		section.documentation.bond-dividend-fund
			.container
				h2.section-title Документы фонда
				.row.hidden-xs.hidden-sm
					.col-sm-16.col-sm-offset-2
						.dates.clearfix
							.reg-num
								|Регистрационный номер правил фонда: 
								b 0140-58233625
							.reg-date
								|Дата регистрации правил фонда: 
								b 08.10.2003
				.row
					.docs-list.clearfix
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила определения стоимости активов и величины обязательств
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила доверительного управления ПИФа
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Правила определения стоимости активов на 2014 год
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Политика осуществления прав голоса по акциям
						.col-sm-4.col-xs-10
							a.item(href="#")
								.label Банковские реквизиты для перечисления средств в оплату паев ПИФ «БКС»					

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="Content/js/vendor/jquery.browser.js")
		script(src="Content/js/vendor/easytabs.min.js")
		script(src="Content/js/vendor/jquery.hashchange.min.js")
		script(src="Content/js/vendor/highcharts.js")
		script.
			$(function () {
				$('#line-graph').highcharts({
					chart: {
						type: 'line'
					},
					credits: {
						enabled: false
					},
					title: {
						align: 'left',
						text: '20 Мая 2014г. — 20 Марта 2015г.',
						style: {
							color: '#8198b6',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					subtitle: {
						align: 'right',
						text: '↑ 1380.56 руб.(64.19%)',
						y: 12,
						style: {
							color: '#3bb303',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					xAxis: {
						categories: ["Янв,<br>2015", 'Фев,<br>2015', 'Мар,<br>2015', 'Апр,<br>2015', 'Май,<br>2015', 'Июн,<br>2015'],
						labels: {
							rotation: 0,
							style: {
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							},
						},
					},
					yAxis: [{
						labels: {
							format: '{value} тыс.',
							style: {
								//color: Highcharts.getOptions().colors[1],
								color: '##002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						title: {
							text: ''
						}
					}, {
						title: {
							text: '',
							style: {
								//color: Highcharts.getOptions().colors[0]
							}
						},
						labels: {
							format: '{value} млн.',
							style: {
								//color: Highcharts.getOptions().colors[0],
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						opposite: true
					}],
					plotOptions: {
						line: {
							dataLabels: {
								//enabled: true
							},
							enableMouseTracking: false
						}
					},
					series: [{
						name: 'Стоимость пая',
						data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5],
						color: '#4992ff',
						marker: {
							symbol: 'circle',
							lineWidth: 3,
							radius: 3,
							lineColor: '#4992ff',
							fillColor: '#ffffff'
						},
					}, {
						name: 'Стоимость СЧА',
						yAxis: 1,
						color: '#ffc300',
						data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2],
						marker: {
							symbol: 'circle',
							lineWidth: 3,
							radius: 3,
							lineColor: '#ffc300',
							fillColor: '#ffffff'
						},
					}],
					legend: {
						enabled: false,
						layout: 'horizontal',
						align: 'left',
						x: 0,
						verticalAlign: 'top',
						y: 0,
						floating: true,
						style: {
							color: '#002a61',
							font: '12px FuturaNew',
							fontWeight: '400'
						},
						backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
					},
				});
				
				$('#pie-graph').highcharts({
					chart: {
						renderTo: 'container',
						type: 'pie'
					},
					credits: {
						enabled: false
					},
					title: {
						text: ''
					},
					yAxis: {
						title: {
							text: 'Total percent market share'
						}
					},
					plotOptions: {
						pie: {
							shadow: false
						}
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
						}
					},
					legend: {
						enabled: false,
					},
					series: [{
						name: 'Browsers',
						data: [["Програмное обеспечение",23],["Интернет",43],["Аппаратное обеспечение и оборудование",34]],
						size: '75%',
						innerSize: '70%',
						showInLegend:true,
						dataLabels: {
							enabled: true,
							style: {
								color: '#002a61',
								font: '14px FuturaNew',
								fontWeight: '400',
							}
						}
					}]
				});
				
				$('.calculator-form input[name="fund"][value="2"]').prop('checked', true);
				$('.custom-radio input:checked').parent().addClass('checked').parent().addClass('checked');
			});
