doctype html
html(lang="ru")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    title BCS Broker landing page - structured bonds
    meta(name="description" content="")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/

    link(rel="stylesheet" href="Content/css/fonts.css")/
    link(rel="stylesheet" href="Content/css/vendor/normalize.css")/
    link(rel="stylesheet" href="Content/css/vendor/bootstrap.custom.css")/
    link(rel="stylesheet" href="Content/css/main.css")/
    link(rel="stylesheet" href="Content/css/bonds.css")/
    link(rel="stylesheet" href="Content/css/vendor/selectize.default.css")/
    link(rel="stylesheet" href="Content/css/vendor/nouislider.css")/
    link(rel="shortcut icon" href="Content/img/favicon.ico")/
  body.mutual-funds.bond-national-fund
    header.header
      .top-panel.clearfix
        .container
          .row
            .col-sm-18.col-sm-offset-1
              a.brand(href="http://broker.ru" target="_blank")
                img(src="Content/img/logo.png" alt="БКС Брокер")/
              ul.top-nav.pull-left(role="nav")
                li
                  a(href="#")
                    span.icon.home
                    |О компании
                li
                  a(href="#")
                    span.icon.cabinet
                    |Личный кабинет
                li
                  a.pseudo-link.offices(href="/contacts")
                    span.icon.offices
                    i Офисы в москве
              .meta.pull-right
                .search
                  a.search-icon.text-hide(href="#") Поиск
                .phone
                  .phone-icon
                  a.cpc-tel.num(href="tel:88005005545") 8 800 500 55 45
                  span.description бесплатный звонок по России
      nav
        .container
          .row
            .col-sm-18.col-sm-offset-1
              ul.main-nav.clearfix
                li
                  a(href="#") Паевые фонды
                li
                  a(href="#") Доверительное управление
                li
                  a(href="#") ИСС
                li
                  a(href="#") Аналитика
                li
                  a(href="#") Тарифы
                li
                  a(href="#") Поддержка
                li.open-account.last
                  a(href="#") Открыть счёт
      .content.clearfix
        .container
          .row
            .col-sm-11.text-center
              h1.page-title
                |ПАЕВЫЕ
                br
                |ИНВЕСТИЦИОННЫЕ ФОНДЫ
              h2.page-subtitle
                |Достойный вклад
                br
                |в благополучное будущее
              .advice.text-center
                a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
    .what-is.text-center
      .container
        .row
          .col-sm-20
            h2.section-title Паевые инвестиционные фонды—это
            p.description Один из самых простых, доступных и прозрачных способов
              br
              |вложения средств на фондовом рынке. 
        .row
          .col-sm-12.col-sm-offset-4
            p Паевые фонды позволяют начинающим инвесторам, располагающим небольшими суммами, пользоваться всеми преимуществами профессионального управления активами на фондовом рынке и получать доход от вложений.

    section.calculator.clearfix
      .container
        .section-label Калькулятор
        h2.section-title.text-center Оцените потенциальный доход
        .row
          .col-sm-16.col-sm-offset-2
            form.calculator-form.clearfix
              .calc-col-1
                .calc-row
                  label Выберите инвестиционный фонд
                  .opt-group
                    label
                      span.custom-radio
                        input(type="radio" name="fund")
                      span Технологии
                    label
                      span.custom-radio
                        input(type="radio" name="fund")
                      span Зарубежные рынки
                    label
                      span.custom-radio
                        input(type="radio" name="fund")
                      span Глобальные рынки
                .calc-row
                  label Сумма для инвестирования
                  input.calc-range(id="calc-range-input")
                  #range-slider.no-ui-slider
                    #calc-range.slider
                    ul.slider-columns.five-columns
                      li 50&nbsp;т.
                      li 100&nbsp;т.
                      li 500&nbsp;т.
                      li 1000&nbsp;т.
                      li 2000&nbsp;т.
                    
                .calc-row
                  label.double-margin Сумма для инвестирования
                  input(type="hidden" name="interval" id="bond-interval")
                  .opt-group
                    span.time(data-value="3") 3 мес.
                    span.time(data-value="6") 6 мес.
                    span.time(data-value="12") 1 год
                    span.time(data-value="24") 2 года
                    span.time(data-value="36") 3 года
              .calc-col-2
                .income-values.clearfix
                  .in
                    .wrap
                      b Вклад
                      #range-value 100 000 Р
                      .value-bg
                  .out
                    .wrap
                      b Доход
                      #income-value 58 000 Р
                      .income-bg(style="height:32px;")
                      .value-bg
                .income-percent
                  span
                    |Доход в процентах 
                    b 23%
                .income-result
                  b Вы получите
                  span#income-result 58 000 ₽
                  span.btn.btn-yellow получить
            
    .teaser.consultation
      .container
        h3.section-title Получите консультацию финансового советника
        .row
          .col-sm-5.col-sm-offset-5
            .time
              span.icon
              p Инвестору не нужно обладать специальными знаниями и тратить время на управление своим инвестиционным портфелем.
          .col-sm-5.col-sm-offset-3
            .trader
              span.icon
              p Финансовый советник БКС подберёт паевой фонд исходя из ваших персональных целей и поможет вам на всех этапах работы.
          .col-sm-20.text-center.actions
            a.btn.btn-yellow(href="#" title="Получить консультацию") Бесплатная консультация эксперта
    section.advantages.text-center
      .container
        h2.section-title.text-center Ваши неоспоримые преимущества
        .row
          .col-sm-6.col-sm-offset-1
            .item
              .icon.shield
              h3 Правовая защищенность
              p Тройной контроль за соблюдением условий инвестирования: со стороны Управляющей компании, Специализированного депозитария и Центрального Банка
          .col-sm-6
            .item
              .icon.value
              h3 Высокий доход
              p При положительной динамике рынка ценных бумаг потенциальная доходность ПИФов значительно превышает ставки банковских вкладов
          .col-sm-6.col-sm-offset-1
            .item
              .icon.immersion
              h3 Без погружения
              p Не нужно обладать специальными знаниями и навыками — команда профессиональных управляющих поможет вам на каждом этапе работы
        .row
          .col-sm-6.col-sm-offset-1
            .item
              .icon.result
              h3 Независимый результат
              p Благодаря грамотному распределению средств, результаты вложений в ПИФ не зависят от состояния отдельных рынков или ценных бумаг
          .col-sm-6
            .item
              .icon.liquidity
              h3 Высокая ликвидность
              p Купить, обменять или продать паи ПИФа можно в любой рабочий день
          .col-sm-6.col-sm-offset-1
            .item
              .icon.management
              h3 Гибкость управления
              p Широкий набор стратегий позволяет найти решения для различных инвестиционных целей, от сохранения капитала до агрессивного роста. Можно изменить выбранную стратегию управления в любой рабочий день.

    section.products
      .container
        .section-label Продукты Управляющей Компании БКС
        h2.section-title.text-center Новая линейка, новые возможности, новые перспективы 
        .row
          .col-sm-19.col-sm-offset-1
            ul.products-list.clearfix
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
              li
                h4 БКС – Фонд
                  br
                  |Национальных Облигаций
                .annual-return
                  b Годовая доходность
                  span 18,28%
                .asset-value-today
                  b Стоимость пая сегодня:
                  span 3 423 руб
                .min-investment-amount
                  b Минимальная сумма инвестиций:
                  span 50 000 руб
                .investment-portfolio
                  b Инвестиционный портфель:
                  span Государственные, субфедеральные и корпоративные облигации, депозиты, еврооблигации, производные финансовые инструменты. 
                .actions
                  a.btn.btn-yellow(href="#") Подробнее
        
    .teaser.selection
      .container
        h3.section-title Подобрать оптимальный
          br
          |инвестиционный портфель для вас?
        .row
          .col-sm-10.col-sm-offset-5.text-center
            p Финансовый советник БКС поможет вам подобрать ПИФ или составить оптимальный портфель из нескольких ПИФов, соответствующих вашим инвестиционным целям и ожиданиям.
        .actions
          a.btn.btn-yellow(href="#" title="Сформировать инвестиционный портфель") Сформировать инвестиционный портфель
    section.experience.text-center
      .container
        .section-label Опыт в цифрах
        h2.section-title Управление активами в БКС –
          br
          |взвешенное решение
        .row
          .col-sm-4.col-sm-offset-3
            .item
              span.icon.year
              b 15 лет
              div управляем активами
                br
                |ПИФов с 2000 года
          .col-sm-4.col-sm-offset-1
            .item.rate
              span.icon.rate
              b AАА-рейтинг
              div входит в группу
                br
                |«очень высокая надежность»
          .col-sm-4.col-sm-offset-1
            .item
              span.icon.offices
              b 50 офисов
              div широкая сеть
                br
                |по всей России
        .row  
          .col-sm-4.col-sm-offset-5
            .item
              span.icon.clients
              b 12 000 клиентов
              div уже инвестируют
                br
                |с нами
          .col-sm-4.col-sm-offset-2
            .item
              span.icon.value
              b 9,3 млрд. рублей
              div общая стоимость активов
                br
                |в управлении
    section.feedback
      .container
        h2.section-title.text-center Заполните заявку
          br
          |для получения консультации
        .row
          .col-sm-14.col-sm-offset-3.text-center
            .steps
              span.step.step-1
                span.icon.icon-1
                |Оставьте ваши
                br
                |контактные данные
              span.step.step-2
                span.icon.icon-2
                |Дождитесь звонка,
                br
                |и получите консультацию
                br
                |финансового советника
              span.step.step-3
                span.icon.icon-3
                |Присоединяйтесь 
                br
                |к компании БКС
              
        .row
          .col-sm-6.col-sm-offset-7
            form.feedback-form
              .form-group.clearfix
                label(for="city2") Ваш город
                select.custom-select(id="city2" name="city")
                  option(selected="selected" value="0") Ваш город
                  option(value="108") Москва
                  option(value="134") Новосибирск
                  option(value="46") Абакан
                  option(value="36") Алматы
                  option(value="113") Альметьевск
                  option(value="115") Анапа
                  option(value="119") Армавир
                  option(value="71") Архангельск
                  option(value="105") Астрахань
                  option(value="175") Ачинск
                  option(value="79") Барнаул
                  option(value="139") Белгород
                  option(value="35") Биробиджан
              .form-group.clearfix
                label(for="name") Ваше имя
                input(class="name" type="text" id="name" name="name" placeholder="Ваше имя")
              .form-group.clearfix
                label(for="mobile") Ваш телефон
                input(class="error" type="text" id="mobile" name="phone" placeholder="Ваш телефон")
              .form-group.clearfix
                label(for="email") Ваша Электронная почта
                input(type="text" id="email" name="email" placeholder="Ваша Электронная почта")
              .form-group.label-offset.clearfix.actions
                .advice
                  input.btn.btn-yellow(type="submit", value="Получить консультацию")

    footer.footer.clearfix
      .container
        .row
          .col-sm-18.col-sm-offset-1
            ul.footer-menu
              li
                a(href="#") О компании
              li
                a(href="#") Руководство
              li
                a(href="#") Новости
              li
                a(href="#") Офисы и агенты
            .social
              span.label Мы в соц. сетях
              a.item.tw(href="#")
              a.item.vk(href="#")
              a.item.fb(href="#")
        .row
          .col-sm-18.col-sm-offset-1
            .copy-and-address.clearfix
              .address
                .phone-num 8 800 100 73 70
                .phone-descr бесплатный звонок по россии
                .city-select
                  span Москва
                .addr
                  span.icon
                  |Проспект мира, д.69, стр. 1
                .tel
                  span.icon
                  |+7 (495) 785 19 99
              .copy
                p 1. Под доходностью имеется в виду прирост стоимости пая. Указана доходность ОПИФ фондов «БКС — Зарубежные Фонды», ОПИФ смешанных инвестиций «БКС — Технологии» и ОПИФ смешанных инвестиций «БКС — Глобальные рынки» за 2014 год.
                p ООО «Компания БКС» является агентом ЗАО УК «БКС» по выдаче, погашению и обмену паев.
                p ЗАО УК «БКС». Лицензия № 21-000-1-00071 от 25.06.2002 г. на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами. Выдана ФСФР РФ. Подробную информацию об осуществлении ЗАО УК «БКС» а также об агентах, в том числе о полном, сокращенном фирменном названии, местонахождении, лицензии агентов, деятельности по управлению паевыми инвестиционными фондами Вы можете найти в информационном бюллетене «Приложение к Вестнику ФСФР», на сайте www.bcs.ru/am, в ленте ЗАО «Интерфакс», в ЗАО УК «БКС» по адресу: Российская Федерация, 630099, г. Новосибирск, ул. Советская, д. 37, тел.: (383) 210-50-20. Стоимость инвестиционных паёв может увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем. ЗАО УК «БКС», государство не гарантируют доходность инвестиций в инвестиционные фонды. Прежде чем приобрести инвестиционный пай, следует внимательно ознакомиться с правилами доверительного управления паевым фондом.
          
    script(src="Content/js/vendor/jquery-2.1.4.min.js")
    script(src="Content/js/vendor/selectize.js")
    script(src="Content/js/vendor/nouislider.js")
    script(src="Content/js/main.js")