doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/mutual-funds.css")/
		link(rel="stylesheet" href="Content/css/bond.css")/
	body.mutual-funds.bond.bond-national-fund
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-11.text-center
							h1.page-title
								|Фонд национальных
								br
								|облигаций
							.page-title-description
								|Инвестируйте в высоконадежные государственные
								br
								|ценные бумаги
							.advice.text-center
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше

		section.calculator.clearfix
			.container
				.section-label Калькулятор
				h2.section-title.text-center Оцените потенциальный доход
				.row
					.col-sm-16.col-sm-offset-2
						form.calculator-form.clearfix
							.calc-col-1
								.calc-row
									label Сумма для инвестирования
									input.calc-range(id="calc-range-input")
									#range-slider.no-ui-slider
										#calc-range.slider
										ul.slider-columns.five-columns
											li 50&nbsp;т.
											li 100&nbsp;т.
											li 500&nbsp;т.
											li 1000&nbsp;т.
											li 2000&nbsp;т.
										
								.calc-row
									label.double-margin Сумма для инвестирования
									input(type="hidden" name="interval" id="bond-interval")
									.opt-group
										span.time(data-value="3") 3 мес.
										span.time(data-value="6") 6 мес.
										span.time(data-value="12") 1 год
										span.time(data-value="24") 2 года
										span.time(data-value="36") 3 года
							.calc-col-2
								.income-values.clearfix
									.in
										.wrap
											b Вклад
											#range-value 100 000 Р
											.value-bg
									.out
										.wrap
											b Доход
											#income-value 58 000 Р
											.income-bg(style="height:32px;")
											.value-bg
								.income-percent
									span
										|Доход в процентах 
										b 23%
								.income-result
									b Вы получите
									span#income-result 58 000 ₽
									span.btn.btn-yellow получить
		section.main-indicator
			.container
				.section-label Основные показатели фонда
				h2.section-title Состав и график доходности
				.row
					.col-sm-18.col-sm-offset-1
						.main-indicator-graph
							.caption Дата формирования фонда хх.хх.хххх г.
							.clearfix
								.col-left
									h3.title Динамика стоимости пая и СЧА
									.legend.clearfix
										.item.item-1
											span.icon
											|— стоимость пая
										.item.item-2
											span.icon
											|— стоимость СЧА
								.col-right
									h3.title Распределение активов
							.clearfix
								.col-left
									#line-graph.graph
									.timing
										span.item 3 мес
										span.item 6 мес
										span.item 1 год
										span.item 2 года
										span.item с момента формирования фонда
								.col-right
									#pie-graph.graph
									.actions.text-center
										a.btn.btn-yellow(href="#") Оставить заявку
							.cost
								h3.title Стоимость пая и чистых активов на 18.08.2015
								table.cost-table
									tr
										th &nbsp;
										th 18.08.2015
										th Изменения за 1 день
									tr
										td Стоимость чистых активов, руб. коп
										td 261 551 258,90 руб.
										td.red
											span.red - 0,04% / - 96 237,17 руб.
									tr
										td Стоимость пая, руб. коп.
										td 3 472,84 руб.
										td.green
											span.green 0,00% / -0,05 руб.
				
		section.advantages.bond-national-fund.text-center
			.container
				h2.section-title.text-center Преимущества фонда
				.row
					.col-sm-6.col-sm-offset-1
						.item
							.icon.income
							h3 Доход
							p Высокий доход по сравнению с доходностью высоконадёжных государственных ценных бумаг
					.col-sm-6
						.item
							.icon.investment
							h3 Инвестирование
							p Возможность инвестирования в еврооблигации и хеджирования валютных рисков
					.col-sm-6.col-sm-offset-1
						.item
							.icon.management
							h3 Управление
							p Консервативная стратегия управления, в первую очередь направленная на сохранение инвестиций
				.row
					.col-sm-6.col-sm-offset-1
						.item
							.icon.control
							h3 Контроль
							p Контроль риска
								br
								|вложений бумаг
					.col-sm-6
						.item
							.icon.sell-buy
							h3 Купля-продажа
							p Возможность купить или продать пай в любой момент без потери накопленного дохода
					.col-sm-6.col-sm-offset-1
						.item
							.icon.bonds
							h3 Облигации
							p В состав портфеля включаются еврооблигации и облигации крупных зарубежных компаний!
		section.documentation.bond-national-fund
			.container
				h2.section-title Документы фонда
				.row
					.col-sm-16.col-sm-offset-2
						.dates.clearfix
							.reg-num
								|Регистрационный номер правил фонда: 
								b 0140-58233625
							.reg-date
								|Дата регистрации правил фонда: 
								b 08.10.2003
						.docs-list.clearfix
							a.item(href="#")
								.label Правила определения стоимости активов и величины обязательств
							a.item(href="#")
								.label Правила доверительного управления ПИФа
							a.item(href="#")
								.label Правила определения стоимости активов на 2014 год
							a.item(href="#")
								.label Политика осуществления прав голоса по акциям
							a.item(href="#")
								.label Банковские реквизиты для&nbsp;перечисления&nbsp;средств в&nbsp;оплату&nbsp;паев&nbsp;ПИФ&nbsp;«БКС»					

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="Content/js/vendor/highcharts.js")
		script.
			$(function () {
				$('#line-graph').highcharts({
					chart: {
						type: 'line'
					},
					credits: {
						enabled: false
					},
					title: {
						align: 'left',
						text: '20 Мая 2014г. — 20 Марта 2015г.',
						style: {
							color: '#8198b6',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					subtitle: {
						align: 'right',
						text: '↑ 1380.56 руб.(64.19%)',
						y: 12,
						style: {
							color: '#3bb303',
							font: '16px FuturaNew',
							fontWeight: '400'
						}
					},
					xAxis: {
						categories: ["Янв,<br>2015", 'Фев,<br>2015', 'Мар,<br>2015', 'Апр,<br>2015', 'Май,<br>2015', 'Июн,<br>2015'],
						labels: {
							rotation: 0,
							style: {
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							},
						},
					},
					yAxis: [{
						labels: {
							format: '{value} тыс.',
							style: {
								//color: Highcharts.getOptions().colors[1],
								color: '##002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						title: {
							text: ''
						}
					}, {
						title: {
							text: '',
							style: {
								//color: Highcharts.getOptions().colors[0]
							}
						},
						labels: {
							format: '{value} млн.',
							style: {
								//color: Highcharts.getOptions().colors[0],
								color: '#002a61',
								font: '12px FuturaNew',
								fontWeight: '400'
							}
						},
						opposite: true
					}],
					plotOptions: {
						line: {
							dataLabels: {
								//enabled: true
							},
							enableMouseTracking: false
						}
					},
					series: [{
						name: 'Стоимость пая',
						data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5],
						color: '#4992ff'
					}, {
						name: 'Стоимость СЧА',
						yAxis: 1,
						color: '#ffc300',
						data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2]
					}],
					legend: {
						enabled: false,
						layout: 'horizontal',
						align: 'left',
						x: 0,
						verticalAlign: 'top',
						y: 0,
						floating: true,
						style: {
							color: '#002a61',
							font: '12px FuturaNew',
							fontWeight: '400'
						},
						backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
					},
				});
				
				$('#pie-graph').highcharts({
					chart: {
						renderTo: 'container',
						type: 'pie'
					},
					credits: {
						enabled: false
					},
					title: {
						text: ''
					},
					yAxis: {
						title: {
							text: 'Total percent market share'
						}
					},
					plotOptions: {
						pie: {
							shadow: false
						}
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
						}
					},
					legend: {
						enabled: false,
					},
					series: [{
						name: 'Browsers',
						data: [["Сырьё",30],["Финансы",40],["Нефть и газ",40]],
						size: '80%',
						innerSize: '80%',
						showInLegend:true,
						dataLabels: {
							enabled: true,
							style: {
								color: '#002a61',
								font: '14px FuturaNew',
								fontWeight: '400',
							}
						}
					}]
				});
			});
