doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/support.css")/
	body.support
		include ./partials/_navigation.jade
		.container
			.row
				.col-sm-16.col-sm-offset-2
					h1.page-title Поддержка
			.row
				.col-sm-5.col-sm-offset-2.wow.fadeInLeft
					ul.sub-menu
						li.item
							a.dropdown.active(href="#")
								i.icon.newbie
								span.label Новичкам
							ul.dropdown-toggle.toggled.active
								li
									a.item.active(href="#") Начните сегодня
								li
									a.item(href="#") Выбор стратегии
						li.item
							a.dropdown(href="#")
								i.icon.funds
								span.label Паевые инвестиционные фонды
						li.item
							a.dropdown(href="#")
								i.icon.trust
								span.label Доверительное управление
						li.item
							a.dropdown(href="support-pia.html")
								i.icon.pia
								span.label Индивидуальный инвестиционный счёт
				.col-sm-10.col-sm-offset-1.wow.fadeInRight
					article.support-item
						h2.title Как выбрать стратегию
						.note
							p Главными составляющими успеха будут правильный выбор структуры портфеля и горизонта инвестирования.
					article.support-item
						h2.title Как определить во что инвестировать?
						p Для того, чтобы инвестиции давали стабильный и предсказуемый результат необходимо правильно подобрать соотношение активов с различным уровнем риска и доходности в общем портфеле. Лучше всего это делать вместе с опытным финансовым советником, которые подберет соотношение основных классов активов (акций, облигаций, депозитов и т.д.) в вашем портфеле и посоветует конкретные продукты. Также есть несколько важных принципов, которые желательно соблюдать.
					article.support-item
						h2.title Определить горизонт
						p Общее правило, чем дальше поставленная цель (например, выход на пенсию через 20 лет) тем больше вы можете себе позволить инвестиции в наиболее волатильные активы, такие как акции. Чем короче горизонт (например, обучение детей через 5 лет) тем больше должно быть в портфеле облигаций и депозитов.
					article.support-item
						h2.title Определить «бюджет риска»
						p Все инвестиции несут в себе риск (включая банковские депозиты). Уровень риска, который будет комфортен для вас, также определяет структуру портфеля. Например, если вы человек не склонный к риску, то необходимо будет увеличить долю консервативных инвестиций, даже если это означает снижение будущей доходности. В противном случае, такой инвестор просто выйдет из всех позиций при очередном колебании рынка.
					article.support-item
						h2.title Добавить индивидуальности
						p Нет идеального набора активов или стратегий, который идеально подошел бы для всех. Кроме горизонта и профиля риска инвестора существует много других факторов. Например, каковы ваши текущие накопления и какую часть общего капитала вы можете позволить себе инвестировать. Важным фактором является базовая валюта (или комбинация валют).
						h3 Изменение доли активов в зависимости от выбранного уровня риска
						.graph#graph
						.change-risk.clearfix
							span#low.item.low(data-risk="low") Низкий
							span.ranger.low
								i
							span#high.item.high(data-risk="high") Высокий
						h3 Шаги для составления оптимального портфеля
						ul
							li Оцените свои текущие финансовые возможности (доходы, расходы, сбережения) и определите цели инвестирования
							li Определите свой горизонт для достижения поставленных целей
							li Определите свой риск-профиль
							li Оцените доходность портфеля для выполнения целей и соотнесите ее со своим риск профилем
							li Выберите соотношение активов, которое оптимально исходя из параметров риска и доходности
							li Оценивайте и изменяйте соотношение активов в портфеле на регулярной основе

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="Content/js/vendor/highcharts.js")
		script.
			$('.change-risk .item').on('click', function () {
				var norm = [["Денежные средства",40],["Облигации",30],["Акции",30]],
						extra = [["Денежные средства",60],["Облигации",20],["Акции",20]];
				var elem = $(this);
				var risk = $(this).data('risk');
				var chart = $('#graph').highcharts();
				log(norm[0])
				log(extra[0])
				if (risk == 'low') {
					elem.siblings('.ranger').removeClass('high').addClass('low');
					chart.series[0].setData(norm);
				}
				if (risk == 'high') {
					elem.siblings('.ranger').removeClass('low').addClass('high');
					chart.series[0].setData(extra);
				}
			});
			$('#graph').highcharts({
					chart: {
						renderTo: 'container',
						type: 'pie',
						marginLeft: 300,
						height: 300
					},
					colors: [
						'#1bb329',
						'#ffc300',
						'#4992ff'
					],
					credits: {
						enabled: false
					},
					title: {
						text: ''
					},
					yAxis: {
						title: {
							text: 'Total percent market share'
						}
					},
					plotOptions: {
						pie: {
							shadow: false,
							legendItemClick: false,
							dataLabels: {
								enabled: false,
							}
						}
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
						}
					},
					legend: {
						align: 'left',
						verticalAlign: 'top',
						enabled: true,
						floating: true,
						layout: 'vertical',
						itemMarginBottom: 18,
						itemMarginTop: 18,
						symbolPadding: 20,
						symbolHeight: 34,
						symbolWidth: 34,
						lineHeight: 34,
						itemStyle: {
							color: '#002a61',
							font: '300 20px FuturaNew',
							fontWeight: '300',
						},
						title: {
							text: 'Доли активов',
							style: {
								color: '#002a61',
								font: '24px FuturaNew',
								fontWeight: '600',
							}
						},
						x: -18,
						y: 10
					},
					series: [{
						name: 'Browsers',
						data: [["Денежные средства",40],["Облигации",30],["Акции",30]],
						size: '95%',
						innerSize: '75%',
						showInLegend: true
					}]
				});

