doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/trust-management.css")/
	body.trust-management
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					.row
						.col-sm-18.col-sm-offset-1.clearfix
							h1.page-title.wow.bounceInDown Доверительное управление 
							h2.page-subtitle Профессиональное
								br
								|управление
								br
								|вашими активами
							.advice.wow.bounceInUp
								a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
		section.what-is.text-center.wow.fadeInUp
			.container
				.row
					h2.section-title Доверительное управление
					.col-sm-18.col-sm-offset-1
						.description это передача инициативы за принятие инвестиционных решений профессиональным управляющим. Цели управления, состав инвестиционного портфеля и допустимые риски заранее оговариваются с клиентом и документально закрепляются в декларации, которая является основой стратегии управления. Инвестор всегда может оперативно поменять декларацию или вывести средства.

		section.advantages.text-center.wow.fadeInUp
			.container
				h2.section-title.text-center Ваши неоспоримые преимущества
				.row
					.col-sm-10.col-md-6.col-md-offset-1
						.item
							.icon.icon-1
							h3 Инвестиции в валюте
							p Доступ к рынку валютных долговых инструментов, в т.ч. еврооблигаций. Возможность выбрать валюту инвестирования.
					.col-sm-10.col-md-6
						.item
							.icon.icon-2
							h3 Индивидуальная работа
							p Финансовый советник  предложит одну из существующих стратегий доверительного управления или разработает личную стратегию, которая будет учитывать запросы клиента.
					.col-sm-10.col-md-6
						.item
							.icon.icon-3
							h3 Ликвидность
							p Возможность довнести и вывести средства в любой момент, без потери накопленного дохода.
								br
								br
								br
					.col-sm-10.col-md-6.col-md-offset-1
						.item
							.icon.icon-4
							h3 Прозрачность
							p Клиент знает, в какие инструменты инвестируются средства, и регулярно получает детальный отчет.
								br
								br
								br
					.col-sm-10.col-md-6
						.item
							.icon.icon-5
							h3 Мотивация управляющих
							p Большая часть вознаграждения управляющих – это комиссия от положительного финансового результата стратегии.
					.col-sm-10.col-md-6
						.item
							.icon.icon-6
							h3 Гибкость
							p Возможность поменять стратегию или внести изменения в декларацию текущей стратегии доверительного управления.
		.teaser.consultation.wow.fadeInUp
			.container
				h3.section-title Получите консультацию
					br
					|финансового советника
				.row
					.col-sm-18.col-sm-offset-1.text-center
						.item Инвестору не нужно обладать специальными знаниями и тратить время на управление своим инвестиционным портфелем.
							br
							br
							|Финансовый советник БКС поможет вам определить инвестиционные цели, горизонт инвестирования и ваш личный риск-профиль. На основании этих параметров будет сформирована стратегия управления вашими средствами, реализацией которой займутся профессиональные портфельные менеджеры.
				.actions.text-center
					a.btn.btn-yellow(href="#" title="Сформировать инвестиционный портфель") Получить консультацию
		section.strategies.wow.fadeInUp
			.container
				h2.section-title Стратегии
					br
					|доверительного управления
				.section-label ДОВЕРИТЕЛЬНОЕ УПРАВЛЕНИЕ
				.row
					.col-sm-14.col-sm-offset-3
						.tab-container
							ul.etabs.strategies-tabs.clearfix
								li.item.top-right
									a(href="#tabs1-html")
										span.icon.icon-1
										|С защитой
										br
										|капитала
								li.item.top
									a(href="#tabs2-html")
										span.icon.icon-2
										|На российском
										br
										|рынке
								li.item.top-right
									a(href="#tabs3-html")
										span.icon.icon-3
										|На глобальных
										br
										|рынках
								li.item.top
									a(href="#tabs4-html")
										span.icon.icon-4
										|Персональные
										br
										|стратегии
							.outer#tabs1-html.tab-content
								.table-responsive
									table.table.strategies-table
										tr
											th Объекты инвестирования
											td Депозит/Облигации + акции/ETF/срочные контракты
										tr
											th Риск профиль (уровень риска)
											td Консервативный (нулевой)
										tr
											th Сумма входа
											td 1 000 000 руб.
										tr
											th Сумма довнесения
											td —
										tr
											th Рекомендуемый срок
											td От 3 лет
										tr
											th Ликвидность
											td
												.text Ограниченная (выход из стратегии в утверждённые
													br
													|интервалы или в конце срока)
										tr
											th Преимущества
											td
												.text Благодаря особому распределению портфеля активов, 
													br
													|Управляющий может обеспечить защиту капитала
													br
													|в объёме первоначальных инвестиций. При этом
													br
													|возможная доходность может существенно превышать
													br
													|ставки по рублёвым или валютным депозитам
													br
													|надёжных банков. Для достижения высокой
													br
													|доходности используются все доступные инструменты
													br
													|глобального рынка ценных бумаг и экспертиза
													br
													|специалистов Лондонского офиса БКС.
										tr
											th Вознаграждения УК
												br
												|+ премия за успех
											td 2% (от активов) + 15% (от прибыли)
							.outer#tabs2-html.tab-content
								.table-responsive
									table.table.strategies-table
										tr
											th Объекты инвестирования
											td Депозит/Облигации + акции/ETF/срочные контракты
										tr
											th Риск профиль (уровень риска)
											td Консервативный (нулевой)
										tr
											th Сумма входа
											td 1 000 000 руб.
										tr
											th Сумма довнесения
											td —
										tr
											th Рекомендуемый срок
											td От 3 лет
										tr
											th Ликвидность
											td
												.text Ограниченная (выход из стратегии в утверждённые
													br
													|интервалы или в конце срока)
										tr
											th Преимущества
											td
												.text Благодаря особому распределению портфеля активов, 
													br
													|Управляющий может обеспечить защиту капитала
													br
													|в объёме первоначальных инвестиций. При этом
													br
													|возможная доходность может существенно превышать
													br
													|ставки по рублёвым или валютным депозитам
													br
													|надёжных банков. Для достижения высокой
													br
													|доходности используются все доступные инструменты
													br
													|глобального рынка ценных бумаг и экспертиза
													br
													|специалистов Лондонского офиса БКС.
										tr
											th Вознаграждения УК
												br
												|+ премия за успех
											td 2% (от активов) + 15% (от прибыли)
							.outer#tabs3-html.tab-content
								.table-responsive
									table.table.strategies-table
										tr
											th Объекты инвестирования
											td Депозит/Облигации + акции/ETF/срочные контракты
										tr
											th Риск профиль (уровень риска)
											td Консервативный (нулевой)
										tr
											th Сумма входа
											td 1 000 000 руб.
										tr
											th Сумма довнесения
											td —
										tr
											th Рекомендуемый срок
											td От 3 лет
										tr
											th Ликвидность
											td
												.text Ограниченная (выход из стратегии в утверждённые
													br
													|интервалы или в конце срока)
										tr
											th Преимущества
											td
												.text Благодаря особому распределению портфеля активов, 
													br
													|Управляющий может обеспечить защиту капитала
													br
													|в объёме первоначальных инвестиций. При этом
													br
													|возможная доходность может существенно превышать
													br
													|ставки по рублёвым или валютным депозитам
													br
													|надёжных банков. Для достижения высокой
													br
													|доходности используются все доступные инструменты
													br
													|глобального рынка ценных бумаг и экспертиза
													br
													|специалистов Лондонского офиса БКС.
										tr
											th Вознаграждения УК
												br
												|+ премия за успех
											td 2% (от активов) + 15% (от прибыли)
							.outer#tabs4-html.tab-content
								.table-responsive
									table.table.strategies-table
										tr
											th Объекты инвестирования
											td Депозит/Облигации + акции/ETF/срочные контракты
										tr
											th Риск профиль (уровень риска)
											td Консервативный (нулевой)
										tr
											th Сумма входа
											td 1 000 000 руб.
										tr
											th Сумма довнесения
											td —
										tr
											th Рекомендуемый срок
											td От 3 лет
										tr
											th Ликвидность
											td
												.text Ограниченная (выход из стратегии в утверждённые
													br
													|интервалы или в конце срока)
										tr
											th Преимущества
											td
												.text Благодаря особому распределению портфеля активов, 
													br
													|Управляющий может обеспечить защиту капитала
													br
													|в объёме первоначальных инвестиций. При этом
													br
													|возможная доходность может существенно превышать
													br
													|ставки по рублёвым или валютным депозитам
													br
													|надёжных банков. Для достижения высокой
													br
													|доходности используются все доступные инструменты
													br
													|глобального рынка ценных бумаг и экспертиза
													br
													|специалистов Лондонского офиса БКС.
										tr
											th Вознаграждения УК
												br
												|+ премия за успех
											td 2% (от активов) + 15% (от прибыли)
		section.experience.text-center.wow.fadeInUp
			.container
				.section-label Опыт в цифрах
				h2.section-title Управление активами в БКС –
					br
					|взвешенное решение
				.row
					.col-sm-4.col-sm-offset-3.col-xs-10
						.item
							span.icon.year
							b 15 лет
							div управляем активами
								br
								|ПИФов с 2000 года
					.col-sm-4.col-sm-offset-1.col-xs-10
						.item.rate
							span.icon.rate
							b AАА-рейтинг
							div входит в группу
								br
								|«очень высокая надежность»
					.col-sm-4.col-sm-offset-1.col-xs-10
						.item
							span.icon.offices
							b 50 офисов
							div широкая сеть
								br
								|по всей России
					.col-sm-4.col-sm-offset-5.col-xs-10
						.item
							span.icon.clients
							b 12 000 клиентов
							div уже инвестируют
								br
								|с нами
					.col-sm-4.col-sm-offset-2.col-xs-20
						.item
							span.icon.value
							b 9,3 млрд. рублей
							div общая стоимость активов
								br
								|в управлении
		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
		script(src="Content/js/vendor/jquery.browser.js")
		script(src="Content/js/vendor/easytabs.min.js")
		script(src="Content/js/vendor/jquery.hashchange.min.js")
