doctype html
html(lang="ru")
	head
		include ./partials/_header.jade
		link(rel="stylesheet" href="Content/css/trust-management.css")/
	body.trust-management
		include ./partials/_navigation.jade
		header.header
			.content.clearfix
				.container
					h1.page-title Доверительное управление 
					h2.page-subtitle Профессиональное
						br
						|управление
						br
						|вашими активами
					.advice
						a.btn.btn-yellow(href="#" title="Получить консультацию") Узнать больше
		section.why.text-center
			.container
				.row
					h2.section-label Почему БКС?
					.col-md-18.col-md-offset-1.hidden-xs
						.note Управляющая компания «БКС» — часть российской группы компаний, предоставляющей частным и институциональным клиентам полный спектр финансовых услуг. С 2000 года компания развивает бизнес услуг по управлению активами, как для частных, так и для корпоративных клиентов.
				.row
					.col-md-5
						.item
							span.icon.respective
							h3 Ответственность
							p Четкий процесс управления портфелями и контроль рисков, в котором каждый менеджер и аналитик несет ответственность за каждое принятое решение. Это позволяет достигать более стабильных и прогнозируемых результатов для наших клиентов.
					.col-md-5
						.item
							span.icon.professionalism
							h3 Профессионализм
							p Активами клиентов управляет профессиональная команда менеджеров, имеющих многолетний опыт работы на рынках капитала. Качество управления подтверждено высокими рейтингами ведущих независимых агентств РБК, Forbes, Национальная Лига Управляющих.
					.col-md-5
						.item
							span.icon.transparence
							h3 Прозрачность
							p Мы дорожим тем доверием, которое нам оказали клиенты, передав свои средства под управление. Поэтому, мы стараемся дать клиентам максимально полную информацию о состоянии и прогнозах рынка, стратегии управления и составе портфеля.
					.col-md-5
						.item
							span.icon.continuous-progress
							h3 Непрерывное развитие
							p Мы ежедневно работаем над повышением уровня сервиса, внедрением новых технологий и расширением продуктовой линейки. Клиентам доступны инвестиционные решения на основе различных продуктов и стратегий от наиболее консервативных до агрессивных.
		section.awards
			.container
				h2.section-title Рейтинги и достижения
				.row
					.col-md-8.col-md-offset-2
						.item.odd
							span.year
								i
								time 2013
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агентства АО УК «БКС» присвоен рейтинг надежности на уровне «АА-».
				.row
					.col-md-8.col-md-offset-9
						.item.even
							span.year
								i
								time 2014
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агенства, Группе управляющих компаний Брокеркредитсервис присвоен рейтинг на уровне А+ (высокая надежность, первый уровень)
								p
									a.more-link(href="#") Подробнее
				.row
					.col-md-8.col-md-offset-2
						.item.odd
							span.year
								i
								time 2014
							.content
								h4.title По версии НРА
								p ОПИФ фондов «БКС — Валютные Инвестиции» входит в ТОП-5 лидеров по доходности за 2012 год
								p
									a.more-link(href="#") Подробнее
				.row.hidden
					.col-md-8.col-md-offset-9
						.item.even
							span.year
								i
								time 2015
							.content
								h4.title По версии НРА
								p По версии Национального Рейтингового Агентства АО УК «БКС» присвоен рейтинг надежности на уровне «АА-».
			.expand
				.row
					.col-md-2.col-md-offset-9
						span.plus +
						span.label Показать ещё
		section.news
			.container
				h2.section-title Новости
				.row
					.col-sm-12.col-sm-offset-4
						ul.news-list.clearfix
							li
								time(datetime="2015-06-17") 17 июня 2015
								h5 Глобальная стратегия
								p Эдмунд Шинг, управляющий по глобальным акциям ООО «Компания БКС»
								a.more-link(href="#") Подробнее
							li
								time(datetime="2015-06-17") 17 июня 2015
								h5 Глобальная стратегия
								p Эдмунд Шинг, управляющий по глобальным акциям ООО «Компания БКС»
								a.more-link(href="#") Подробнее
							li
								time(datetime="2015-06-17") 17 июня 2015
								h5 Глобальная стратегия
								p Эдмунд Шинг, управляющий по глобальным акциям ООО «Компания БКС»
								a.more-link(href="#") Подробнее
						.all-news
							a.link(href="#") Смотреть все новости
						blockquote.quote
							p 2015 — это год 20-летия БКС. Помогая в достижении финансовых целей тысячам клиентов, за два десятилетия мы построили эффективный бизнес международного масштаба. В его основе лежат опыт и профессионализм нашей команды, передовые технологии и наше деловое кредо — предоставлять клиентам первоклассные финансовые услуги.
							footer
								b Президент финансовой группы БКС
								br
								span Олег Михасенко
		section.team
			.container
				h2.section-title Руководство
				.row
					.col-sm-14.col-sm-offset-3
						ul.team-list
							li.clearfix
								.row
									.photo.col-sm-2
										img(src="Content/img/pages/about/team-golosov.png" width="119" height="119")/
									.body.col-sm-16
										h5 Эдвард Голосов
										b Директор по управлению активами ФГ БКС
										p Эдвард работает в финансовой сфере почти два десятилетия. Он стоял у истоков создания Финансовой группы БКС, курировал развитие брокерского бизнеса и бизнеса по управлению активами.
										p
											a.bio(href="#") Биография
							li.clearfix
								.row
									.photo.col-sm-2
										img(src="Content/img/pages/about/team-shainurov.png" width="119" height="119")/
									.body.col-sm-16
										h5 Роман Шайнуров
										b Генеральный директор АО УК «БКС»
										p В 2007 году Роман Шайнуров вошел в ТОП-25 самых успешных руководителей российских управляющих компаний по версии журнала Forbes. Роман осуществляет руководство операционным департаментом, а также принимает участие в развитии и операционной поддержке продуктов АО УК «БКС».
										p
											a.bio(href="#") Биография
							li.clearfix
								.row
									.photo.col-sm-2
										img(src="Content/img/pages/about/team-galimnurov.png" width="119" height="119")/
									.body.col-sm-16
										h5 Альберт Галимнуров
										b Заместитель директора по управлению активами ФГ БКС
										p С 2014 года работает в УК БКС. В должности заместителя директора по управлению активами Альберт Галимнуров отвечает за стратегию развития клиентского бизнеса дирекции по управлению активами группы БКС в целом, контролирует выполнение планов продаж розничных продуктов УК БКС через собственную сеть группы, а также развивает отношения Управляющей компании с институциональными партнерами и дистрибьюторами инвестиционных продуктов.
										p
											a.bio(href="#") Биография
							li.clearfix
								.row
									.photo.col-sm-2
										img(src="Content/img/pages/about/team-lifshits.png" width="119" height="119")/
									.body.col-sm-16
										h5 Андрей Лифшиц
										b Руководитель Департамента управления портфелями состоятельных клиентов и активами с фиксированной доходностью УК БКС (Москва)
										p Андрей Лифшиц присоединился к команде БКС в 2014 году, и на текущий момент руководит Департаментом управления портфелями активов состоятельных клиентов и активами с фиксированной доходностью.
										p
											a.bio(href="#") Биография

		include ./partials/_feedback.jade
		include ./partials/_footer.jade
		include ./partials/_footer_scripts.jade
