.btn {
	@include button-size($padding-base-vertical, $padding-base-horizontal, $btn-default-font-size, $btn-line-height-base, $border-radius-base);
	@include user-select(none);
	@include transition(all .2s ease-in-out);
	display: inline-block;
	margin-bottom: 0; // For input.btn
	/*width: 252px;*/
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	background-color: transparent;
	//border: 1px solid transparent;
	color: $btn-default-color;
	text-decoration: none;
	text-transform: uppercase;

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			@include tab-focus;
		}
	}

	&:hover,
	&:focus,
	&.focus {
		
	}

	&:active,
	&.active {
		outline: 0;
		background-image: none;
	}

	&.btn-yellow {
		background-color: #ffc300;

		&:hover,
		&.active { background-color: #ffb400; }

		&:active { background-color: #ffd200; }
	}

	&[type='submit'] {
		border: 0;
	}
	&.btn-mini {
		padding: 5px 10px;
		font-size: 14px;
		line-height: 14px;
	}

	@media (min-width: $screen-lg) {
		width: auto;
		white-space: nowrap;
	}
}