body {
	margin: 0 auto;
	font-family: 'FuturaNew', sans-serif;
	font-weight: 400;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: #ccd7e6;
	letter-spacing: .025em;

	a { color: #4992ff; }
	b { font-weight: 600; }
}

.top-panel,
nav.menu {
	a { text-decoration: none; }
}
.top-panel {
	padding: 7px 0 8px;
	background: white;
	border-bottom: 1px solid #dadce1;
	color: #002665;

	.toggle-nav {
		float: left;
		margin: -7px 8px -8px -10px;
		width: 40px;
		height: 38px;
		border-right: 1px solid #a1a8b3;
		background: url('../img/burger.png') no-repeat center;
		cursor: pointer;

		@media	(min-width: $screen-sm) {
			display: none;
		}
	}

	.brand {
		float: left;
		img {
			display: block;
			width: 61px;
			height: 23px;

			@media	(min-width: $screen-sm) {
				width: 117px;
				height: 45px;
			}
		}
	}
	
	a { color: #002665; }
	.top-nav {
		display: none;
		margin: 0;
		margin-left: 120px;
		padding-left: 0;
		font: 500 18px/18px 'FuturaNew', sans-serif;
		
		li {
			float: left;
			margin-top: 18px;
			margin-right: 70px;
			list-style: none;
			
			&:last-child { margin-right: 0; }
			
			a {
				position: relative;
				display: inline-block;
				
				.icon {
					position: absolute;
					left: -32px;
					top: -4px;
					width: 27px;
					height: 24px;
					background: url('../img/top-panel-menu-icons.png') no-repeat 0 0;
					&.home {
						background-position: 0 0;
					}
					&.cabinet {
						background-position: 0 -24px;
					}
					&.offices {
						background-position: 0 -48px;
					}
				}
				&.pseudo-link {
					i {
						font-style: normal;
						border-bottom: 1px dashed;
					}
					&:after {
						position: relative;
						top: 2px;
						left: 4px;
						display: inline-block;
						content: " ";
						border: 4px solid;
						border-color: transparent;
						border-top-color: #002665;
						line-height: 0;
						font-size: 0;
					}
				}
			}

			@media (min-width: $screen-sm) {
				margin-right: 40px;
			}
			@media (min-width: $screen-lg) {
				margin-right: 60px;
			}
		}

		@media (min-width: $screen-sm) {
			display: block;
			margin-left: 60px;
			font-size: 14px;
		}
		@media (min-width: $screen-md) {
			font-size: 16px;
		}
		@media (min-width: $screen-lg) {
			margin-left: 120px;
			font-size: 18px;
		}
	}
	
	.meta {
		.search,
		.phone {
			float: left;
			display: none;

			@media (min-width: $screen-sm) {
				display: block;
			}
		}
		
		.search-icon,
		.phone-icon {
			float: left;
			width: 22px;
			height: 22px;
			border-radius: 11px;
			background: #ffc300 url('../img/mobile/phone.png') no-repeat 50% 50%;

			@media (min-width: $screen-sm) {
				margin-right: 4px;
				width: 28px;
				height: 28px;
				border-radius: 14px;
			}
			@media (min-width: $screen-md) {
				margin-right: 4px;
				width: 28px;
				height: 28px;
				border-radius: 14px;
			}
			@media (min-width: $screen-lg) {
				margin-right: $grid-gutter-width/2;
				width: 36px;
				height: 36px;
				border-radius: 18px;
				background: #ffc300 url('../img/top-panel-icons.png') no-repeat 0 -36px;
			}
		}
		.phone-icon {
			@media (min-width: $screen-sm) {
				display: none;
			}
			@media (min-width: $screen-md) {
				display: block;
			}
		}
		.search-icon {
			background-color: #002a61;
			background: #002a61 url('../img/mobile/search.png') no-repeat 50% 50%;
			@media (min-width: $screen-lg) {
				background: #002a61 url('../img/top-panel-icons.png') no-repeat 0 0;
			}
		}
		.phone {
			display: block;
			.num {
				float: right;
				font-size: 22px;
				line-height: 20px;
				letter-spacing: 1px;

				@media (min-width: $screen-sm) {
					font-size: 18px;
				}
				@media (min-width: $screen-md) {
					font-size: 20px;
				}
				@media (min-width: $screen-lg) {
					font-size: 22px;
				}
			}

			.description {
				float: right;
				font-size: 10px;
				line-height: 16px;
				text-transform: uppercase;

				@media (min-width: $screen-sm) {
					font-size: 8px;
				}
				@media (min-width: $screen-md) {
					font-size: 9px;
				}
				@media (min-width: $screen-lg) {
					font-size: 10px;
				}
			}

			.num,
			.description {
				display: none;
				@media (min-width: $screen-sm) {
					display: block;
				}
			}

			@media (min-width: $screen-sm) {
				width: 155px;
			}
			@media (min-width: $screen-md) {
				width: 195px;
			}
			@media (min-width: $screen-lg) {
				width: 222px;
			}
		}

		@media (min-width: $screen-sm) {
			width: 188px;
			margin-top: 10px;
		}
		@media (min-width: $screen-md) {
			width: 232px;
			margin-top: 10px;
		}
		@media (min-width: $screen-lg) {
			width: 272px;
			margin-top: 5px;
		}
	}
	/* Adaptive */
	@media (min-width: $screen-sm) {
		margin-bottom: 55px;
		padding: 18px 0 13px;
	}
}

nav.menu {
	display: none;
	&.active {
		display: block;
		position: absolute;
		top: 38px;
		z-index: 1000;
		width: 69.375%;
		background: white;
		overflow: hidden;

		.main-nav {
			margin: 0 -10px;
			padding: 0 0 22px 0;
			list-style: none;
			background: white;
			
			li {
				padding-left: 12px;
				border-top: 1px solid #d5d7dc;
				font-size: 14px;

				a {
					display: block;
					color: #445267;
					line-height: 29px;
				}
			}
		}
	}
	@media (min-width: $screen-sm) {
		display: block;
		position: absolute;
		top: 76px;
		left: 0;
		width: 100%;
		background: white;
		border-top: 1px solid #dadce1;
		&.fixed {
			position: fixed;
			top: 0;
			z-index: 100;
		}
		.main-nav {
			margin: 10px 0;
			padding: 0;
			font-size: 14px;
			text-transform: uppercase;
			li {
				float: left;
				padding: 12px 30px 7px;
				list-style: none;
				border-left: 1px solid #dadce1;
				&:first-child {
					padding-left: 0;
					border: 0;
				}
				&:last-child,
				.last {
					padding: 0;
					border: 0;
				}

				a {
					color: #445267;
					letter-spacing: 0.025em;
				}
				&.open-account {
					a {
						display: inline-block;
						padding: 12px 35px 7px;
						background-color: #ffc300;
						border-radius: 18px;
						@media (min-width: $screen-sm) {
							padding-left: 15px;
							padding-right: 15px;
						}
						@media (min-width: $screen-lg) {
							padding-left: 35px;
							padding-right: 35px;
						}
					}
				}
				@media (min-width: $screen-sm) {
					padding-left: 10px;
					padding-right: 10px;
				}
				@media (min-width: $screen-md) {
					padding-left: 15px;
					padding-right: 15px;
				}
				@media (min-width: $screen-lg) {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
			@media (min-width: $screen-sm) {
				font-size: 10px;
			}
			@media (min-width: $screen-md) {
				font-size: 12px;
			}
			@media (min-width: $screen-md) {
				font-size: 14px;
			}
		}
	}
}

.header {
	position: relative;
	height: 442px;
	background: #f3f6ec;
	background-size: 1603px 442px;

	a { text-decoration: none; }
	.page-title-description {
		display: none;

		@media (min-width: $screen-lg) {
			display: block;
		}
	}

	.content {
		height: 442px;
		@media (min-width: $screen-lg) {
			height: 704px;
		}
	}

	.owl-carousel {
		.item {
			height: 442px;
			
			@media (min-width: $screen-lg) {
				height: 704px;
			}
		}
	}
	.owl-controls {
		margin-top: -120px;
		z-index: 1000;
		position: relative;

		.owl-page {
			span {
				border: 2px solid #002665 !important;
				background: transparent !important;
				opacity: 1 !important;
			}
			&.active {
				span {
					background: #002665 !important;
				}
			}
		}

		@media (min-width: $screen-lg) {
			margin-top: -40px;
		}
	}

	.page-title {
		margin-top: 50px;
		margin-bottom: 12px;
		line-height:  18px;
		font-size: 18px;
		font-weight: 400;
		color: #4992ff;
		@media (min-width: $screen-md) {
			line-height: 30px;
			font-size: 28px;
		}
		@media (min-width: $screen-lg) {
			margin-top: 118px;
			margin-bottom: 24px;
			line-height: 32px;
			font-size: 36px;
		}
	}

	.page-subtitle {
		line-height: 30px;
		font-size: 32px;
		font-weight: 400;
		color: #002665;

		@media (min-width: $screen-lg) {
			margin: 0;
			margin-bottom: 78px;
			line-height: 70px;
			font-size: 70px;
			font-weight: 300;
		}
	}

	.advice {
		position: absolute;
		top: 366px;
		left: 0;
		width: 100%;

		@media (min-width: $screen-lg) {
			position: static;
			margin-top: 82px;
		}
	}

	@media (min-width: $screen-lg) {
		height: 704px;
		background-size: 2560px 706px;
	}
}

.footer {
	padding: 0 20px;
	color: white;
	background: #5a5d68;
	font-family: 'FuturaNew', sans-serif;
	font-weight: 500;
	.footer-menu,
	.social {
		font-size: 14px;
		line-height: 18px;

		@media (min-width: $screen-lg) {
			margin: 50px 0 40px;
		}
	}
	.footer-menu {
		padding-left: 0;
		list-style: none;

		li {
			float: left;
			margin-right: 30px;
			margin-bottom: 18px;
			padding-top: 4px;

			&:last-child {
				margin-right: 0;
				margin-left: 30px;
			}

			a {
				text-decoration: none;
				text-transform: uppercase;
				color: white;
			}
		}

		@media (min-width: $screen-lg) {
			float: left;
			margin-left: -20px;
			li {
				margin-right: 62px;
				margin-bottom: 0;
				padding-top: 0;
				&:last-child {
					margin-left: 0;
				}
				a {
					color: #002a61;
				}
			}
		}
	}

	.social {
		padding-bottom: 12px;
		border-top: 1px solid #4992ff;
		border-bottom: 1px solid #4992ff;
		color: #4992ff;

		.label {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.item {
			float: left;
			margin-right: 10px;
			width: 30px;
			height: 30px;
			background: url('../img/mobile/social-icons.png') no-repeat 0 0;
			&.tw {
				background-position: 0 0;
			}
			&.tw {
				background-position: 0 -30px;
			}
			&.fb {
				background-position: 0 -60px;
			}

			@media (min-width: $screen-lg) {
				margin-left: 16px;
				margin-right: 0;
				margin-top: -18px;
				width: 47px;
				height: 47px;
				background: url('../img/social-icons.png') no-repeat 0 0;
				&.tw {
					background-position: 0 0;
				}
				&.tw {
					background-position: 0 -47px;
				}
				&.fb {
					background-position: 0 -94px;
				}
			}
		}

		@media (min-width: $screen-lg) {
			float: right;
			margin-right: 20px;
			padding-bottom: 12px;
			text-transform: uppercase;
			color: #002a61;
			border: 0;

			.label,
			.item {
				float: left;
			}

			.label {
				margin: 0;
				margin-right: 32px;
			}
		}
	}

	.copy-and-address {
		.address {
			margin-bottom: 18px;
			padding-top: 14px;
			padding-bottom: 14px;
			border-bottom: 1px solid #4992ff;
			
			.phone-num {
				margin-left: 4px;
				margin-bottom: 8px;
				font-size: 30px;
			}
			.phone-descr {
				margin-bottom: 20px;
				font-size: 14px;
				text-transform: uppercase;
			}
			.city-select {
				margin-bottom: 20px;
				font-size: 24px;
				color: #4992ff;
				&:after {
					position: relative;
					top: 2px;
					left: 4px;
					display: inline-block;
					content: " ";
					border: 4px solid;
					border-color: transparent;
					border-top-color: #4992ff;
					line-height: 0;
					font-size: 0;
				}
				span {
					border-bottom: 1px dashed;
				}

				@media (min-width: $screen-lg) {
					color: #002a61;
					&:after {
						border-top-color: #002665;
					}
				}
			}
			.addr,
			.tel {
				position: relative;
				padding-left: 26px;
				font-size: 18px;
				
				.icon {
					position: absolute;
					left: 0;
					width: 19px;
					height: 23px;
					background: url('../img/footer-addr-icons.png') no-repeat 0 0;
				}
			}
			.addr {
				margin-bottom: 20px;
			}
			.tel {
				.icon { background-position: 0 -23px; }
			}

			@media (min-width: $screen-lg) {
				float: left;
				margin-bottom: 0;
				padding: 0;
				width: 22.727272%;
				border-bottom: 0;
			}
		}
		.copy {
			font-size: 12px;
			p {
				margin-top: 0;
			}

			@media (min-width: $screen-lg) {
				float: right;
				width: 73.454545%;
			}
		}

		@media (min-width: $screen-lg) {
			margin: 0 -20px;
			padding-top: 36px;
			border-top: 1px solid #002a61;
		}
	}

	@media (min-width: $screen-lg) {
		padding: 0 0 88px;
		background-color: #e7e8ea;
		color: #002a61;
	}
}

.section-title {
	margin: 0;
	line-height: 30px;
	font-family: 'FuturaNew', sans-serif;
	font-size: 30px;
	font-weight: 300;
	text-align: center;

	&.white { color: white; }
	&.dark-blue { color: #002a61; }

	@media (min-width: $screen-lg) {
		line-height: 70px;
		font-size: 70px;
	}
}

.section-label {
	margin: 14px 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #4992ff;
	text-align: center;
	text-transform: uppercase;

	@media(min-width: $screen-lg) {
		margin-top: 44px;
		margin-bottom: 0;
	}
}

.pseudo-link {
	color: #f1b900;
	text-decoration: underline;
	cursor: pointer;
}

label { cursor: pointer; }

.form-group {
	margin-bottom: 30px;
	
	>input,
	.custom-select .selectize-input {
		width: 100%;
		color: #002a61;
		font-size: 16px;
	}
	>input {
		padding: 10px;
		height: 40px;
		border: 2px solid #9ea9b8;
		/* Webkit */
		&::-webkit-input-placeholder { color: #002a61; }

		/* Firefox 19+ */
		&::-moz-placeholder { color: #002a61; }

		/* IE10+ */
		&:-ms-input-placeholder { color: #002a61; }
		
		&.error {
			border-color: #e42a2a;
		}
		&:focus,
		&.focus {
			border-color: #9ea9b8;
			outline: none;
		}
	}
	input[type="submit"] {
		width: 100%;
	}

	label {
		display: none;
	}
}

.calculator {
	padding-bottom: 36px;

	@media (min-width: $screen-lg) {
		padding-bottom: 120px;
	}

	.section-title {
		display: none;
		color: #002a61;
		/*color: #78849b;*/
		@media (min-width: $screen-lg) {
			display: block;
			margin-bottom: 60px;
		}
	}
	
	.calculator-form {
		margin: 0 -10px;
		color: #002a61;
		
		.calc-col-1,
		.calc-col-2 {
			@media (min-width: $screen-lg) {
				float: left;
				width: 392px;
			}
		}
		.calc-col-1 {
			background: #ebecee;
			@media (min-width: $screen-lg) {
				width: 565px;
				background: #eceff4;
				border-right: 1px solid #ccd4df;
			}
		}
		.calc-col-2 {
			position: relative;
			padding-top: 125px;
			@media (min-width: $screen-lg) {
				padding: 10px 38px 56px 24px;
			}
		}
		.calc-row {
			position: relative;
			>label {
				display: block;
				.hidden-mobile {
					display: none;
				}
				&.double-margin {
					margin-bottom: 20px;
				}
			}
			&:first-child {
				>label {
					line-height: 48px;
					text-align: center;
					border-bottom: 1px solid #9ea9b9;
				}
			}

			&:nth-child(2) {
				background: white;
				border-top: 1px solid #9ea9b9;
				border-bottom: 1px solid #9ea9b9;
			}

			&:nth-child(2),
			&:nth-child(3) {
				padding: 20px 12px 42px;
				@media (min-width: $screen-lg) {
					padding: 36px 24px 62px;
				}
			}
			
			@media (min-width: $screen-lg) {
				padding: 36px 24px 62px;
				&:first-child {
					>label {
						line-height: $line-height-base;
						border-bottom: 0;
					}
				}

				>label {
					display: inline-block;
					margin-bottom: 36px;
					text-align: left;
					
					&.double-margin {
						margin-top: 26px;
						margin-bottom: 36px;
					}
					.hidden-mobile {
						display: inline;
					}
				}
				
				&:nth-child(2) {
					padding-bottom: 76px;
					background: rgba(204, 209, 218,.5);
					border-top: 1px solid #9ea9b8;
					border-bottom: 1px solid #9ea9b8;
				}
				&:nth-child(3) {
					padding-bottom: 90px;
				}
			}
		}
		
		.opt-group {
			&.table-group {
				display: table;
				width: 100%;
				label {
					display: table-cell;
					font-size: 13px;

					&.checked {
						background: #4992ff;
						color: white;
					}
				}
				@media (min-width: $screen-lg) {
					display: block;

					label {
						display: inline-block;
						font-size: 20px;

						&.checked {
							background: transparent;
							color: #002a61;
						}
					}
				}
			}
			label {
				position: relative;
				display: inline-block;
				padding: 15px 12px 20px;
				vertical-align: top;
				&:last-child {
					margin: 0;
				}
				&:nth-child(2) {
					border-left: 1px solid #9ea9b9;
					border-right: 1px solid #9ea9b9;
				}
				.custom-radio {
					display: none;
					position: absolute;
					left: 0;
					top: 4px;

					@media (min-width: $screen-lg) {
						display: block;
					}
				}

				@media (min-width: $screen-lg) {
					padding: 0;
					margin-right: 30px;
					padding-left: 28px;
					width: 146px;

					&:nth-child(2) {
						border-left: 0;
						border-right: 0;
					}
				}
			}
			.time {
				display: inline-block;
				margin-right: 12px;
				margin-bottom: 12px;
				padding: 0 12px;
				line-height: 28px;
				font-size: 16px;
				text-align: center;
				background: white;
				border-radius: 14px;
				border: 1px solid #9ea9b9;
				cursor: pointer;
				
				&.active {
					background: #4992ff;
					border-color: #4992ff;
					color: white;
					cursor: default;
				}

				@media (min-width: $screen-lg) {
					
				}
			}
		}
		.custom-radio {
			display: inline-block;
			height: 16px;
			width: 16px;
			background: url('../img/custom-radio.png') no-repeat 0 0;
			&.checked {
				background-position: 0 -16px;
			}
			input {
				visibility: hidden;
			}
		}
		.calc-range {
			display: inline-block;
			float: right;
			margin-top: -24px;
			padding: 0 22px;
			width: 140px;
			line-height: 24px;
			font-size: 17px;
			border-radius: 12px;
			border: 1px solid #9ea9b9;
			text-align: center;

			@media (min-width: $screen-lg) {
				margin-top: -10px;
				border-radius: 22px;
				padding: 0 38px;
				width: 238px;
				line-height: 44px;
				font-size: 30px;
			}
		}
		#range-slider {
			padding-top: 20px;

			@media (min-width: $screen-lg) {
				padding-top: 36px;
			}
		}
		#calc-range {
			font-size: 12px;
			.noUi-value-horizontal { padding-top: 10px; }
			.noUi-marker-horizontal.noUi-marker { height: 5px; }
			.noUi-value-horizontal.noUi-value-large:last-child { margin-left: -35px; }
			
			.noUi-handle {
				left: -10px;
				top: -8px;
				width: 18px;
				height: 18px;
				border-radius: 9px;

				@media (min-width: $screen-lg) {
					width: 30px;
					height: 30px;
					left: -17px;
					top: -13px;
					border-radius: 15px;
				}
			}
			
			@media (min-width: $screen-lg) {
				font-size: 20px;
				.noUi-value-horizontal { padding-top: 20px; }
				.noUi-marker-horizontal.noUi-marker { height: 10px; }
				.noUi-value-horizontal.noUi-value-large:last-child { margin-left: -40px; }
			}
		}
		
		.income-values,
		.income-percent
		.income-result,
		.income-result * {
			font-family: 'FuturaNew', sans-serif;
			font-weight: 300;
		}
		.income-values {
			.in,
			.out {
				padding: 8px 48px;
				border-bottom: 1px solid #dadce1;
				@media (min-width: $screen-lg) {
					position: relative;
					padding: 0;
					width: 150px;
					height: 224px;
					text-align: center;
					border-bottom: 0;
					.wrap {
						position: absolute;
						bottom: 0;
						width: 100%;
					}
				}
			}
			.in {
				@media (min-width: $screen-lg) {
					float: left;
				}
			}
			.out {
				@media (min-width: $screen-lg) {
					float: right;
				}
			}
			.value-bg {
				display: none;
				width: 100%;
				height: 10px;
				background: #ccd1da;

				@media (min-width: $screen-lg) {
					display: block;
				}
			}
			b {
				float: left;
				font-size: 16px;
				line-height: 22px;
				font-weight: 300;
				@media (min-width: $screen-lg) {
					float: none;
					font-size: 21px;
				}
			}
			#range-value,
			#income-value {
				float: right;
				font-size: 16px;
				line-height: 22px;
				white-space: nowrap;
				@media (min-width: $screen-lg) {
					float: none;
					margin-bottom: 10px;
					font-size: 30px;
					line-height: 33px;
				}
			}
			.income-bg {
				display: none;
				background: #4992ff;

				@media (min-width: $screen-lg) {
					display: block;
				}
			}

			.income-bg,
			.value-bg {
				@include transition(all 0.5s linear);
			}
		}
		.income-percent {
			padding: 8px 48px;
			font-size: 16px;
			font-weight: 300;
			span { float: left; }
			b {
				float: right;
				font-weight: 300;
			}
			@media (min-width: $screen-lg) {
				margin: 38px 0 46px;
				padding: 20px 0 30px;
				font-size: 20px;
				text-align: center;
				border-top: 1px solid #9ea9b9;
				border-bottom: 1px solid #9ea9b9;
				span { float: none; }
				b {
					float: none;
					font-size: 36px;
					font-weight: 400;
				}
			}
		}
		.income-result {
			position: absolute;
			top: 0;
			width: 100%;
			height: 124px;
			padding-top: 40px;
			border-top: 1px solid #dadce1;
			border-bottom: 1px solid #dadce1;
			text-align: center;
			b,
			#income-result {
				display: block;
			}
			b {
				font-size: 20px;
				font-weight: 400;

				@media (min-width: $screen-lg) {
					line-height: 40px;
					font-size: 30px;
					font-weight: 300;
				}
			}
			#income-result {
				font-size: 40px;
				line-height: 60px;
				font-weight: 300;
				@media (min-width: $screen-lg) {
					font-size: 62px;
					line-height: 74px;
				}
			}

			@media (min-width: $screen-lg) {
				position: static;
				padding-top: 0;
				height: auto;
				border-top: 0;
				border-bottom: 0;
			}
		}
		.actions {
			.btn {
				margin-top: 18px;
				@media (min-width: $screen-lg) {
					margin-top: 26px;
					width: 252px;
					font-size: 18px;
				}
			}
		}
	
		@media (min-width: $screen-lg) {
			border: 1px solid #9ea9b8;
		}
	}

	&.calculator-pia {
		.calculator-form {
			.calc-row {
				padding: 30px 25px 72px;
				&:first-child {
					>label {
						display: inline-block;
						line-height: 22px;
						text-align: left;
						border: 0;
					}
				}
			}
			@media (max-width: $screen-md-max) {
				.calc-row {
					&:first-child {
						>label {
							display: block;
							line-height: 22px;
							text-align: left;
							border: 0;
						}
					}
				}
			}
			
		}
	}
}

.main-indicator-graph {
	.legend {
		margin-bottom: 12px;
		.item {
			line-height: 34px;
			.icon {
				display: inline-block;
				margin-right: 4px;
				width: 25px;
				height: 25px;
				border: 6px solid #eceff4;
				background: #4992ff;
				outline: 3px solid #4992ff;
				vertical-align: middle;
			}
			&.item-2 {
				.icon {
					background: #ffc300;
					border-color: #ffc300;
					outline-color: #ffc300;
				}
			}
		}
	}
}

.products {
	background: #eceff4;
	.section-label {
		margin: 86px 0 28px;
	}
	.section-title {
		margin-bottom: 80px;
		color: #78849b;
	}
	
	.products-list {
		margin: 0 0 34px 0;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			margin: 0 32px 32px 0;
			padding: 0 18px;
			width: 100%;
			height: 520px;
			font-family: 'FuturaNew', sans-serif;
			font-weight: 500;
			border: 2px solid white;
			background: white;
			text-align: center;
			color: #002a61;
			
			&:hover {
				border-color: #4992ff;
			}
			
			h4 {
				margin: 18px 0 22px;
				font-size: 25px;
				font-weight: normal;
				line-height: 25px;
			}
			span,
			b {
				display: block;
				line-height: 22px;
				font-weight: normal;
			}
			b {
				font-size: 16px;
			}
			
			.annual-return {
				margin: 0 -18px;
				padding: 10px 0 18px;
				line-height: 34px;
				color: white;
				background: #002a61;
				
				b {
					font-size: 22px;
				}
				span {
					font-size: 30px;
					color: #ffc300;
				}
			}
			.asset-value-today,
			.min-investment-amount,
			.investment-portfolio {
				padding: 8px 0 10px;
			}
			.asset-value-today,
			.min-investment-amount { border-bottom: 1px solid #b6c1d2; }
			.investment-portfolio {
				span {
					font-size: 14px;

					@media (min-width: $screen-lg) {
						font-size: 16px;						
					}
				}
			}
			
			.actions {
				margin-top: 12px;

				@media (min-width: $screen-lg) {
					margin-top: 24px;
				}
			}
			
			@media (min-width: $screen-sm) {
				margin-right: 20px;
				width: 320px;
			}

			@media (min-width: $screen-md) {
				margin-right: 20px;
				width: 272px;
				
				&:nth-child(3),
				&:nth-child(6){ margin-right: 0; }
			}

			@media (min-width: $screen-lg) {
				margin-right: 32px;
				width: 350px;
			}
		}
	}
}

.feedback {
	color: #002a61;
	.section-title {
		margin: 22px 0 26px;
		color: #002a61;

		@media (min-width: $screen-lg) {
			margin: 46px 0 56px;
			font-size: 48px;
			line-height: 42px;
		}
	}
	
	.steps {
		display: block;
		.step {
			position: relative;
			display: block;
			margin-bottom: 12px;
			padding-left: 46px;
			font-size: 16px;
			text-align: left;
			vertical-align: top;
			&:last-child { margin-right: 0; }
			
			.icon {
				position: absolute;
				left: 0;
				top: 2px;
				width: 34px;
				height: 34px;
				background: url('../img/pages/bonds/feedback-icons.png') no-repeat 0 0;
				
				&.icon-1 { background-position: 0 0; }
				&.icon-2 { background-position: 0 -34px; }
				&.icon-3 { background-position: 0 -68px; }
			}

			@media (min-width: $screen-sm) {
				margin-right: 50px;
				margin-bottom: 0;
				display: inline-block;
			}
			@media (min-width: $screen-md) {
				margin-right: 44px;
			}
			@media (min-width: $screen-lg) {
				margin-right: 94px;
			}
		}

		@media (min-width: $screen-lg) {
			display: inline-block;
		}
	}
	
	.feedback-form {
		margin: 20px 0;

		@media (min-width: $screen-lg) {
			margin: 40px -10px 0;
		}
	}
}

.what-is {
	.description {
		color: white;
		font-size: 16px;
		line-height: 24px;
		&:after {
			position: relative;
			top: 34px;
			display: block;
			margin: 0 auto;
			content: " ";
			width: 47px;
			height: 3px;
			background: #4992ff;
		}

		@media (min-width: $screen-md) {
			font-size: 30px;
			line-height: $line-height-base;
		}
	}
	.teaser {
		margin: 36px 0;
		line-height: 21px;
		font-size: 14px;

		@media (min-width: $screen-md) {
			font-size: 20px;
			line-height: $line-height-base;
		}
	}
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $line-height-computed;
	background: white;

	caption {
		padding: 18px 0 24px;
		font-size: 16px;
		line-height: 21px;
		color: #002a61;

		@media (min-width: $screen-md) {
			padding: 34px 0;
			line-height: $line-height-base;
			font-size: 20px;
		}
	}
	
	// Cells
	tr {
		> th,
		> td {
			padding: 0;
			line-height: $line-height-base;
			vertical-align: middle;
			border: 1px solid #9ea9b8;
			color: #002a61;
		}
	}

	&.table-vertical-headers {
		tr {
			>th {
				padding: 15px 10px 15px 30px;
				text-align: left;
				font-weight: 500;
				background: #eceff4;

				@media (min-width: $screen-md) {
					padding: 30px 20px 30px 60px;
				}
			}
			>td {
				padding: 15px 10px;
				@media (min-width: $screen-md) {
					padding: 30px 20px;
				}
			}
		}
	}
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
	overflow-x: auto;
	min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

	@media screen and (max-width: $screen-xs-max) {
		width: 100%;
		margin-bottom: ($line-height-computed * 0.75);
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			tr {
				> th,
				> td {
					white-space: nowrap;
				}
			}
		}
	}
}

.tab-container {
	.etabs {
		margin: 0 0 -1px;
		padding-left: 0;
		list-style: none;
		

		.tab {
			float: left;
			margin-left: -1px;
			width: 50%;
			font-size: 16px;
			border-top: 1px solid #9eaab8;
			border-left: 1px solid #9eaab8;
			color: #002a61;
			text-align: center;
			white-space: nowrap;

			a {
				position: relative;
				padding: 10px 0;
				display: block;
				color: #002a61;
				text-decoration: none;
			}
			
			&.active {
				border-bottom-color: white;
				a {
					background: white;
				}
			}
			&:first-child {
				margin-left: 0;
			}

			@media (min-width: $screen-md) {
				margin-left: -1px;
				width: auto;
				font-size: 24px;
				border-color: #9ea9b7;
				border: 1px solid #9eaab8;
				border-top-left-radius: 45px;
				overflow: hidden;

				a { padding: 20px 40px; }
			}
			@media (min-width: $screen-lg) {
				font-size: 30px;
			}
		}
	}
	.tab-content {
		padding: 10px 0 26px;
		background: white;
		border-top: 1px solid #9eaab8;

		@media (min-width: $screen-md) {
			padding: 10px 24px 26px;
			border: 1px solid #9eaab8;
		}
	}
}

.list-plus {
	padding-left: 0;
	list-style: none;
	
	li {
		position: relative;
		&:before {
			position: absolute;
			left: -20px;
			top: 0;
			line-height: 17px;
			font-weight: 600;
			font-size: 26px;
			content: "+";
			color: #ffc300;

			@media (min-width: $screen-sm) {
				left: -26px;
				top: 2px;
				line-height: 22px;
				font-size: 36px;
				font-weight: 300;
			}
		}
		@media (min-width: $screen-sm) {
			margin-bottom: 24px;
		}
	}
}

.list-ordered {
	padding-left: 0;
	list-style: none;
	counter-reset: list;
	li {
		position: relative;
		margin-bottom: 20px;
		&:before {
			display: block;
			margin: 0 auto;
			line-height: 30px;
			font-weight: 600;
			font-size: 20px;
			counter-increment: list;
			content: counter(list) ". ";
			color: #ffc300;

			@media (min-width: $screen-sm) {
				line-height: 36px;
				font-size: 30px;
			}
		}
		@media (min-width: $screen-sm) {
			margin-bottom: 24px;
		}
	}
}

