body {
  max-width: 1600px;
  font-family: 'Futura New Book', sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: #ccd7e6;
  letter-spacing: .025em;
}

.header {
  .brand {
    float: left;
    img {
      display: block;
    }
  }
  background: #f3f6ec;
  
  a { text-decoration: none; }
  .top-panel {
    padding: 18px 0 13px;
    background: white;
    border-bottom: 1px solid #dadce1;
    color: #002665;
    
    a { color: #002665; }
    .top-nav {
      margin: 0;
      margin-left: 120px;
      padding-left: 0;
      font: normal normal 18px/18px 'Futura New Medium', sans-serif;
      
      li {
        float: left;
        margin-top: 18px;
        margin-right: 70px;
        list-style: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    
    .meta {
      width: 272px;
      .search,
      .phone {
        float: left;
      }
      
      .search-icon,
      .phone-icon {
        float: left;
        margin-right: $grid-gutter-width/2;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        background: #ffc300 url('../img/top-panel-icons.png') no-repeat 0 -36px;
      }
      .search-icon {
        background-color: #002a61;
        background-position: 0 0;
      }
      .phone {
        width: 222px;
        .num {
          float: right;
          font-size: 22px;
          line-height: 20px;
          letter-spacing: 1px;
        }

        .description {
          float: right;
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
  nav { background: white; }
  .main-nav {
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    li {
      float: left;
      padding: 12px 30px 7px;
      list-style: none;
      border-left: 1px solid #dadce1;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:last-child,
      .last {
        padding: 0;
        border: 0;
      }

      a {
        color: #445267;
        letter-spacing: 0.025em;
      }
      &.open-account {
        a {
          display: inline-block;
          padding: 12px 35px 7px;
          background-color: #ffc300;
          border-radius: 18px;
        }
      }
    }
  }
}

.footer {
  padding: 30px 0;
  color: white;
}

.section-title {
  margin: 0;
  font: normal 70px/70px 'Futura New Light', sans-serif;
  text-align: center;
}

.section-label {
  margin-top: 44px;
  font-family: 'Futura New Medium', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #4992ff;
  text-align: center;
  text-transform: uppercase;
}

.pseudo-link {
  color: #f1b900;
  text-decoration: underline;
  cursor: pointer;
}

.form-group {
  margin-bottom: 30px;
  
  >input,
  .custom-select .selectize-input {
    width: 100%;
    color: #002a61;
    font-size: 16px;
  }
  >input {
    padding: 10px;
    height: 40px;
    border: 2px solid #9ea9b8;
    /* Webkit */
    &::-webkit-input-placeholder { color: #002a61; }

    /* Firefox 19+ */
    &::-moz-placeholder { color: #002a61; }

    /* IE10+ */
    &:-ms-input-placeholder { color: #002a61; }
    
    &.error {
      border-color: #e42a2a;
    }
    &:focus,
    &.focus {
      border-color: #9ea9b8;
      outline: none;
    }
  }
  input[type="submit"] {
    width: 100%;
  }

  label {
    display: none;
  }
}
