@import 'partials/variables';
.bond {
	.section-label,
	.section-title {
		color: #002a61;
	}
	&.bond-national-fund {
		.header {
			.content {
				background: url('../img/pages/bonds/header-national.jpg') no-repeat top center;
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header-national.jpg', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header-national.jpg', sizingMethod='scale')";
				background-size: cover;
				
				.page-subtitle {
					margin-top: 180px;
					margin-bottom: 34px;
					color: #002665;
				}
				.page-title-description {
					margin-bottom: 80px;
					line-height: 25px;
					color: #002665;
				}
			}
		} 
	}
	&.bond-dividend-fund {
		.header {
			.content {
				background: url('../img/pages/bonds/header-dividend.jpg') no-repeat top center;
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header-dividend.jpg', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header-dividend.jpg', sizingMethod='scale')";
				background-size: cover;

				.page-subtitle {
					margin-top: 75px;
					margin-bottom: 24px;
					color: #002665;
					
					@media (max-width: $screen-lg) {
						margin-top: 0;
					}
				}
				.page-title-description {
					margin-bottom: 60px;
					line-height: 25px;
					color: #002665;
				}
			}
		} 
	}
	
	.calculator {
		.calculator-form {
			.calc-row {
				background: #f7f7f7 !important;
			}
			.calc-row {
				&:nth-child(2) {
					background: rgba(204, 209, 218,.5) !important;
					border-top: 1px solid #9ea9b8;
					border-bottom: 1px solid #9ea9b8;
				}
			}
		}
	}  
	.main-indicator {
		color: #002a61;
		background: #eceff4;

		.caption {
			padding: 0;
		}

		.legend {
			.item {
				float: left;
				font-size: 14px;
			}
			.item-2 {
				float: right;
			}
		}

		.timing {
			margin: 16px 0 4px;
			.item {
				display: inline-block;
				margin: 0 12px 10px 0;
				padding: 0 20px;
				line-height: 30px;
				font-size: 16px;
				background: white;
				border: 1px solid #9ea9b9;
				border-radius: 15px;
				cursor: pointer;
			}
		}
		.btn {
			margin-top: 24px;
			font-size: 14px;
		}

		.cost {
			padding-bottom: 30px;

			.cost-table {
				width: 100%;
				font-size: 10px;
				background: white;
				tr {
					border-bottom: 1px solid #f2f2f2;
					&:last-child {
						border: 0;
					}
				}
				th,
				td {
					padding: 6px 8px;
					text-align: left;
				}
				.red { color: #ff0000; }
				.green { color: #3bb303; }
			}
		}
		
		@media (min-width: $screen-lg) {
			.main-indicator-graph {
				margin: 60px 25px 156px;
				border: 1px solid #9ea9b8;
				
				.caption {
					padding: 0 56px;
					line-height: 42px;
					font-size: 14px;
					border-bottom: 1px solid #9ea9b8;
				}
				.legend {
					.item {
						float: left;
						margin-right: 32px;
						font-size: 20px;
					}
				}
				.title {
					font-size: 20px;
					font-weight: normal;
				}
				.col-left {
					float: left;
					padding-left: 56px;
					width: 532px;
					
					.graph {
						margin-left: -28px;
					}
				}
				.col-right {
					float: right;
					padding-right: 28px;
					width: 476px;
				}
				.cost {
					padding: 0 56px 32px;
					border-top: 1px solid #9ea9b8;
					
					.cost-table {
						width: 100%;
						font-size: 16px;
						background: white;
						tr {
							border-bottom: 1px solid #f2f2f2;
							&:last-child {
								border: 0;
							}
						}
						th,
						td {
							padding: 12px 18px;
							text-align: left;
						}
						.red { color: #ff0000; }
						.green { color: #3bb303; }
					}
				}
				
				.pie-graph {
					margin-top: 66px;
				}
			}
		}
	}
	
	.advantages {
		&.bond-national-fund {
			height: 820px;
			background: url('../img/pages/bonds/advantages-bg-bond-national.jpg') no-repeat 50% 50%;
			background-size: cover;
			
			.item {
				position: relative;
				margin-bottom: 20px;
				padding-top: 70px;
				height: 210px;

				.icon {
					margin-left: -30px;
					width: 60px;
					height: 60px;
					background: url('../img/pages/bonds/advantages-icons-bond-national.png') no-repeat 0 0;

					&.income { background-position: 0 0; }
					&.investment { background-position: 0 -60px; }
					&.management { background-position: 0 -120px; }
					&.control { background-position: 0 -180px; }
					&.sell-buy { background-position: 0 -240px; }
					&.bonds { background-position: 0 -300px; }
				}
				
				p {
					color: #ccd7e6;
				}

				@media (min-width: $screen-lg) {
					margin-bottom: 54px;
					padding-top: 90px;
					height: auto;
				}
			}
			
			@media (min-width: $screen-sm) {
				height: 570px;
			}

			@media (min-width: $screen-lg) {
				height: 757px;
			}
		}
		.section-title {
			margin: 60px 0 42px;
			color: white;
		}
	}
	
	.documentation {
		color: #002a61;
		background: #eceff4;
		
		.section-title {
			margin: 62px 0 40px;
		}
		.dates {
			margin-bottom: 40px;
			font-size: 16px;
			.reg-num {
				float: left;
			}
			.reg-date {
				float: right;
			}
		}
		.docs-list {
			@media (min-width: $screen-lg) {
				margin: 0 -10px;
			}
		}
		.item {
			display: block;
			margin-bottom: 24px;
			padding: 147px 0 22px;
			background: #002a61 url('../img/docs-arrow-down.png') no-repeat right top;
			text-decoration: none;
			vertical-align: top;
			&:last-child {
				margin-right: 0;
			}
			.label {
				padding: 10px;
				height: 68px;
				font-size: 12px;
				background: #ffc300;
				color: #002a61;
			}

			@media (min-width: $screen-lg) {

				.label {
					height: 68px;
					font-size: 14px;
				}
			}
		}

		@media (min-width: $screen-lg) {
			padding-bottom: 90px;
		}
	}
}
