/* Rates page styles */
@import 'partials/variables';
.contacts {
	color: #002665;
	.mini-title {
		font-size: 20px;
		font-weight: 500;

		.select-city {
			cursor: pointer;
			&:after {
				position: relative;
				top: 2px;
				left: 4px;
				display: inline-block;
				content: " ";
				border: 4px solid;
				border-color: transparent;
				border-top-color: #002665;
				line-height: 0;
				font-size: 0;
			}
		}
	}
	.tab-container,
	.offices-map-container { margin: 0 -10px; }

	.tab-container {}

	.tab-content {
		padding: 0;
		width: 100%;
		height: 600px;
		overflow-y: scroll;
		border: 0;
		background: transparent;

		>.active {
			display: block !important;
			visibility: visible !important;
		}
	}

	.offices-tabs {
		background-color: white;
		.item {
			float: left;
			margin-left: 20px;
			a {
				display: block;
				padding: 10px;
				text-decoration: none;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				color: #002665;

				&:hover,
				&.active {
					background: #f5f7f9;
				}
			}
		}
	}
	.tab-container-wrapper {
		height: 642px;
		background: #f5f7f9 !important;
	}
	.offices-list {
		padding-left: 2em;
		counter-reset: list;
		li {
			margin-bottom: 20px;
			list-style-type: none;
			
		}
		.point {
			position: relative;
			display: block;
			text-decoration: none;
			cursor: pointer;
			&:before {
				counter-increment: list;
				content: counter(list);
				display: inline-block;
				width: 26px;
				height: 26px;
				position: absolute;
				top: 0;
				left: -34px;
				border-radius: 50%;
				background-color: #002863;
				color: #fff;
				font-size: 14px;
				line-height: 26px;
				text-align: center;
			}
			&:hover,
			&.hovered,
			&.active {
				&:before {
					color: #000;
					background-color: #f4c733;
				}
			}
			.title {
				border-bottom: 1px dashed;
			}
			.close {
				display: none;
				position: absolute;
				right: 6px;
				top: 2px;
				font-size: 20px;
				line-height: 20px;
				font-weight: 500;
				color: #002665;
				z-index: 20;
			}
			&.active {
				.close {
					display: block;
				}
			}
		}
		.point-detail {
			display: none;
			padding-top: 24px;

			addr {
				display: block;
				margin-left: -2em;
				padding-left: 2em;
				padding-top: 6px;
				font-weight: 500;
				border-top: 1px solid #cccccc;
			}

			.time,
			.email,
			.phone {
				position: relative;
				margin-top: 18px;
				padding-left:30px;
				line-height: 22px;
				font-size: 18px;

				.icon {
					position: absolute;
					top: 0;
					left: 0;
					width: 22px;
					height: 22px;
					background: url('../img/pages/contacts/contact-icons.png') no-repeat 0 0;
				}
			}
			.time {
				.icon { background-position: 0 -22px; }
			}
			.email {
				.icon { background-position: 0 -44px; }
			}
		}
	}
	@for $i from 1 through 100 {
		ol[start="#{$i}"] {
			counter-reset: list $i ;
		}
	}
	.offices-map-container {
		padding-top: 43px;
		height: 642px;
	}
}