/* Rates page styles */
@import 'partials/variables';
.contacts {
	color: #002665;
	.mini-title {
		font-size: 20px;
		font-weight: 500;

		.select-city {
			cursor: pointer;
			&:after {
				position: relative;
				top: 2px;
				left: 4px;
				display: inline-block;
				content: " ";
				border: 4px solid;
				border-color: transparent;
				border-top-color: #002665;
				line-height: 0;
				font-size: 0;
			}
		}
	}
	.tab-container,
	.offices-map-container { margin: 0 -10px; }

	.tab-content {
		padding: 0;
		width: 100%;
		height: 600px;
		background: #f5f7f9;
		overflow-y: scroll;
		border: 0;
	}

	.offices-tabs {
		.item {
			float: left;
			margin-left: 20px;
			a {
				display: block;
				padding: 10px;
				text-decoration: none;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				color: #002665;

				&:hover,
				&.active {
					background: #f5f7f9;
				}
			}
		}
	}
	.offices-list {
		counter-reset: list;
		li {
			margin-bottom: 20px;
			list-style-type: none;
			
		}
		.point {
			position: relative;
			text-decoration: none;
			border-bottom: 1px dashed;
			&:before {
				counter-increment: list;
				content: counter(list);
				display: inline-block;
				width: 26px;
				height: 26px;
				position: absolute;
				top: 0;
				left: -34px;
				border-radius: 50%;
				background-color: #002863;
				color: #fff;
				font-size: 14px;
				line-height: 26px;
				text-align: center;
			}
			&:hover,
			&.hovered,
			&.active {
				&:before {
					color: #000;
					background-color: #f4c733;
				}
			}
		}
		.point-detail {
			display: none;
			padding-top: 24px;
		}
	}
	@for $i from 1 through 100 {
		ol[start="#{$i}"] {
			counter-reset: list $i ;
		}
	}
	.offices-map-container {
		padding-top: 43px;
		width: 100%;
		height: 642px;
	}
}