@import 'partials/variables';
.index {
	.section-title {
		color: #002a61;
		&.white {
			color: white;
		}
	}
	.header {
		color: #002665;
		
		.page-title {
			line-height: 34px;
			font-family: 'FuturaNew', sans-serif;
			font-size: 34px;
			font-weight: 300;
			color: #002665;

			@media (min-width: $screen-lg) {
				margin: 108px 0 36px;
				line-height: 70px;
				font-size: 70px;
			}
		}
		.page-title-description {
			font-size: 20px;
			line-height: 25px;
		}
	}

	.calculator {
		.section-label {
			margin: 22px 0 10px;
			font-size: 16px;
			color: #002a61;

			@media (min-width: $screen-lg) {
				margin: 44px 0 0;
				font-size: 18px;
			}
		}
		.section-title {
			display: none;

			@media (min-width: $screen-lg) {
				display: block;
			}
		}
	}

	.assets-management {
		padding-bottom: 56px;
		background-color: #525965;
		background: url('../img/pages/index/assets-management.jpg') no-repeat center;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/index/assets-management.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/index/assets-management.jpg', sizingMethod='scale')";
		background-size: cover;

		.section-title {
			margin: 17px 0 34px;

			@media (min-width: $screen-lg) {
				margin: 62px 0 100px;
			}
		}

		.item {
			margin-bottom: 24px;
			padding-top: 80px;
			line-height: 14px;
			color: #cacaca;
			font-size: 12px;

			&.offices { display: none; }

			@media (min-width: $screen-sm) {
				&.offices { display: block; }
			}

			@media (min-width: $screen-md) {
				&.offices { display: block; }
			}

			@media (min-width: $screen-lg) {
				padding-top: 112px;
				line-height: 22px;
				font-size: 18px;

				&.offices { display: block; }
			}

			h3 {
				line-height: 24px;
				font-size: 18px;
				font-weight: 400;
				color: white;

				@media (min-width: $screen-lg) {
					line-height: 36px;
					font-size: 30px;
				}
			}

			.icon {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -34px;
				width: 68px;
				height: 68px;

				background: url('../img/pages/index/assets-icons.png') no-repeat 0 0;
				background-size: 68px 340px;

				&.year {
					background-position: 0 0;
				}
				&.shield {
					background-position: 0 -68px;
				}
				&.clients {
					background-position: 0 -136px;
				}
				&.volume {
					background-position: 0 -204px;
				}
				&.offices {
					background-position: 0 -272px;
				}

				@media (min-width: $screen-lg) {
					margin-left: -51px;
					width: 103px;
					height: 103px;
					background-size: 103px 515px;
					&.year {
						background-position: 0 0;
					}
					&.shield {
						background-position: 0 -103px;
					}
					&.clients {
						background-position: 0 -206px;
					}
					&.volume {
						background-position: 0 -309px;
					}
					&.offices {
						background-position: 0 -412px;
					}
				}

			}
		}

		@media (min-width: $screen-lg) {
			padding-bottom: 85px;
		}
	}

	.experts {
		color: #002a61;
		.section-title {
			margin: 16px 0 24px 22px;
			text-align: left;

			@media (min-width: $screen-lg) {
				margin: 60px 0 70px;
				text-align: center;
			}
		}

		.expert-comment {
			display: none;
			border: 2px solid #4992ff;

			article {
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;

				time {
					font-size: 20px;
				}
				h3 {
					margin: 10px 0 14px;
					font-weight: 500;
					line-height: 22px;
				}
				p {
					margin: 12px 0 26px;
				}

				@media (min-width: $screen-md) {
					float: right;
					padding-left: 36px;
					width: 66%;
				}
			}

			.author {
				font-size: 16px;
				font-weight: 300;

				b {
					display: block;
					margin: 6px 0 6px;
					font-size: 20px;
					font-weight: 500;
				}

				@media (min-width: $screen-sm) {
					margin-bottom: 12px;
					img {
						float: left;
						margin-right: 20px;
					}
				}
				@media (min-width: $screen-md) {
					float: left;
					padding-right: 10px;
					width: 34%;
				}
			}

			@media (min-width: $screen-sm) {
				display: block;
				margin-left: -10px;
				margin-right: -10px;
				padding: 34px 30px 34px 40px;
			}

			@media (min-width: $screen-lg) {
				box-shadow: 33px 0px 0px 0px white, 34px 0px 0px 0px #ced4db;
			}
		}

		.news {
			margin: 0;
			padding-left: 22px;
			padding-right: 40px;
			list-style: none;

			li {
				padding: 20px 0;
				font-weight: 300;
				border-top: 1px solid #ced4db;
				time,
				h5 {
					font-size: 20px;
					line-height: 20px;
				}

				h5 {
					margin: 5px 0 10px;
					font-weight: 500;
				}

				p {
					margin: 0 0 5px;
				}

				@media (min-width: $screen-lg) {
					padding-top: 0;
					padding-left: 8px;
					border-top: 0;
				}
			}

			@media (min-width: $screen-lg) {
				margin: 0 0 0 24px;
			}
		}

		.all-comments {
			margin: 22px 0 42px 22px;

			.link {
				display: inline-block;
				padding-left: 32px;
				line-height: 20px;
				font-size: 20px;
				font-weight: 500;
				color: #002a61;
				background: url('../img/burger-blue.png') no-repeat 0 50%;
				text-decoration: none;
			}

			@media (min-width: $screen-lg) {
				margin: 42px 0 0 56px;
			}
		}

		@media (min-width: $screen-lg) {
			padding-bottom: 80px;
		}
	}
}
