.mutual-funds {
	.header {
		.content {
			height: 704px;
			background: url(../img/pages/bonds/header.jpg) no-repeat top center;
			background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header.jpg', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header.jpg', sizingMethod='scale')";

			.page-title {
				margin-top: 118px;
				margin-bottom: 24px;
				font: normal 26px/32px 'Futura New Book', sans-serif;
				color: #4992ff;
			}
			.page-subtitle {
				margin: 0;
				margin-bottom: 78px;
				font: normal 70px/70px 'Futura New Light', sans-serif;
				color: #002665;
			}
		}
	}
	
	.what-is {
		min-height: 446px;
		background: #4c535e url('../img/pages/bonds/what-is-bg.jpg') no-repeat 50% 50%;
		letter-spacing: 0;
		.section-title,
		.description {
			color: white;
		}
		.section-title {
			margin-top: 34px;
			margin-bottom: 20px;
		}
		.description {
			margin: 0 0 80px;
			line-height: 33px;
			font-size: 30px;
			
			&:after {
				position: relative;
				top: 34px;
				display: block;
				margin: 0 auto;
				content: " ";
				width: 47px;
				height: 3px;
				background: #4992ff;
			}
		}
		p { margin: 0; }
	}
	
	.calculator {
		padding-bottom: 120px;
		.section-title {
			margin-bottom: 60px;
			color: #78849b;
		}
		
		.calculator-form {
			margin: 0 -10px;
			border: 1px solid #9ea9b8;
			color: #002a61;
			
			.calc-col-1,
			.calc-col-2 {
				float: left;
				width: 392px;
			}
			.calc-col-1 {
				width: 565px;
				background: #eceff4;
				border-right: 1px solid #ccd4df;
			}
			.calc-col-2 {
				padding: 10px 38px 60px 24px;
			}
			.calc-row {
				position: relative;
				padding: 36px 24px 62px;
				>label {
					display: inline-block;
					margin-bottom: 36px;
					&.double-margin {
						margin-top: 26px;
					}
				}
				
				&:nth-child(2) {
					background: rgba(204, 209, 218,.5);
					border-top: 1px solid #9ea9b8;
					border-bottom: 1px solid #9ea9b8;
				}
				&:nth-child(3) {
					padding-bottom: 90px;
				}
			}
			
			.opt-group {
				label {
					position: relative;
					display: inline-block;
					margin-right: 30px;
					padding-left: 28px;
					width: 146px;
					vertical-align: top;
					&:last-child {
						margin: 0;
					}
					.custom-radio {
						position: absolute;
						left: 0;
						top: 4px;
					}
				}
				.time {
					display: inline-block;
					margin-right: 12px;
					width: 84px;
					line-height: 28px;
					font-size: 16px;
					border: 1px solid #9ea9b9;
					text-align: center;
					background: white;
					border-radius: 14px;
					cursor: pointer;
					
					&.active {
						background: #4992ff;
						border-color: #4992ff;
						color: white;
						cursor: default;
					}
				}
			}
			.custom-radio {
				display: inline-block;
				height: 16px;
				width: 16px;
				background: url('../img/custom-radio.png') no-repeat 0 0;
				&.checked {
					background-position: 0 -16px;
				}
				input {
					visibility: hidden;
				}
			}
			.calc-range {
				display: inline-block;
				float: right;
				margin-top: -10px;
				border-radius: 22px;
				padding: 0 38px;
				width: 238px;
				line-height: 44px;
				font-size: 30px;
				border: 1px solid #9ea9b9;
				text-align: center;
			}
			
			.income-values {
				.in,
				.out {
					position: relative;
					width: 150px;
					height: 224px;
					font-family: 'Futura New Light', sans-serif;
					text-align: center;
					.wrap {
						position: absolute;
						bottom: 0;
						width: 100%;
					}
				}
				.in { float: left; }
				.out { float: right; }
				.value-bg {
					width: 100%;
					height: 90px;
					background: #ccd1da;
				}
				b {
					line-height: 22px;
					font-size: 21px;
					font-weight: normal;
				}
				#range-value,
				#income-value {
					margin-bottom: 10px;
					font-size: 30px;
					line-height: 33px;
				}
				.income-bg {
					background: #4992ff;
				}
			}
			.income-percent {
				margin: 38px 0 46px;
				padding: 20px 0 30px;
				text-align: center;
				border-top: 1px solid #9ea9b9;
				border-bottom: 1px solid #9ea9b9;
				b {
					font-size: 36px;
					font-weight: normal;
				}
			}
			.income-result {
				text-align: center;
				b,
				#income-result {
					display: block;
				}
				b {
					line-height: 40px;
					font-size: 30px;
					font-weight: normal;
				}
				#income-result {
					line-height: 74px;
					font-size: 62px;
					
				}
				.btn {
					margin-top: 26px;
					width: 252px;
					font-size: 18px;
				}
			}
		}
	}
	
	.teaser.consultation {
		padding-bottom: 94px;
		background: #eceff4;
		border-top: 1px solid #9ea9b8;
		color: #7c899b;
		.section-title {
			margin: 56px 0 42px;
			font-size: 50px;
			line-height: 60px;
			color: #002a61;
		}
		.trader,
		.time {
			span.icon {
				float: left;
				margin-left: -120px;
				width: 101px;
				height: 101px;
			}
		}
		
		.time {
			span.icon {
				background: url('../img/pages/bonds/consultation-time.png') no-repeat 0 0;
			}
		}
		
		.trader {
			span.icon {
				margin-left: -110px;
				width: 93px;
				height: 93px;
				background: url('../img/pages/bonds/consultation-trader.png') no-repeat 0 0;
			}
		}
		
		.actions {
			padding-top: 84px;
		}
		p {
			margin: 0;
		}
	}
	
	.advantages {
		min-height: 996px;
		color: white;
		background: url('../img/pages/bonds/advantages-bg.jpg') no-repeat 50% 50%;
		
		.section-title {
			margin: 62px 0 110px;  
		}
		
		.item {
			position: relative;
			margin-bottom: 60px;
			padding-top: 102px;
			
			.icon {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -45px;
				width: 90px;
				height: 84px;
				background: url('../img/pages/bonds/advantages-icons.png') no-repeat 0 0;
				
				&.shield { background-position: 0 0; }
				&.value { background-position: 0 -84px; }
				&.immersion { background-position: 0 -168px; }
				&.result {
					height: 86px;
					background-position: 0 -252px;
				}
				&.liquidity {
					top: 4px;
					height: 81px;
					background-position: 0 -338px;
				}
				&.management { background-position: 0 -419px; }
			}
		}
		
		h3 {
			margin: 0 0 22px;
			font-size: 30px;
			font-weight: normal;
		}
		p {
			font-size: 18px;
			line-height: 22px;
			color: #cacaca;
		}
	}
	
	.products {
		background: #eceff4;
		.section-label {
			margin: 86px 0 28px;
		}
		.section-title {
			margin-bottom: 80px;
			color: #78849b;
		}
		
		.products-list {
			margin: 0 0 34px 0;
			padding: 0;
			list-style: none;
			
			li {
				float: left;
				margin: 0 32px 32px 0;
				padding: 0 18px;
				width: 350px;
				height: 520px;
				font-family: 'Futura New Medium', sans-serif;
				border: 2px solid white;
				background: white;
				text-align: center;
				color: #002a61;
				
				&:hover {
					border-color: #4992ff;
				}
				
				h4 {
					margin: 18px 0 22px;
					font-size: 25px;
					font-weight: normal;
					line-height: 25px;
				}
				span,
				b {
					display: block;
					line-height: 22px;
					font-weight: normal;
				}
				b {
					font-size: 16px;
				}
				
				.annual-return {
					margin: 0 -18px;
					padding: 10px 0 18px;
					line-height: 34px;
					color: white;
					background: #002a61;
					
					b {
						font-size: 22px;
					}
					span {
						font-size: 30px;
						color: #ffc300;
					}
				}
				.asset-value-today,
				.min-investment-amount,
				.investment-portfolio {
					padding: 8px 0 10px;
				}
				.asset-value-today,
				.min-investment-amount { border-bottom: 1px solid #b6c1d2; }
				.investment-portfolio {
					span { font-size: 16px; }
				}
				
				.actions {
					margin-top: 24px;
				}
			}
			li:nth-child(3),
			li:nth-child(6){ margin-right: 0; }
		}
	}
	
	.teaser.selection {
		padding: 50px 0 72px;
		background: #eceff4;
		border-top: 1px solid #9ea9b8;
		.section-title {
			margin: 0 0 28px;
			font-size: 50px;
			line-height: 60px;
			color: #002a61;
		}
		p {
			margin: 0;
			color: #7c899b;
		}
		.actions {
			margin: 70px 0 0;
			text-align: center;
		}
	}
	
	.experience {
		background: #4d5560 url(../img/pages/bonds/experience-bg.jpg) no-repeat 50% 50%;
		color: white;
		
		.section-label {
			color: white;
		}
		
		.section-title {
			margin-bottom: 64px;
		}
		
		.item {
			position: relative;
			margin-bottom: 80px;
			padding-top: 62px;
			color: #ccd7e6;
			
			b {
				display: block;
				margin-bottom: 22px;
				font-size: 30px;
				line-height: 33px;
				color: white;
				font-weight: normal;
			}
			
			&.rate {
				margin: 0 -14px;
			}
			
			.icon {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -23px;
				width: 46px;
				height: 42px;
				background: url('../img/pages/bonds/experience-icons.png') no-repeat 0 0;
				
				&.year {
					background-position: 0 -84px;
				}
				&.rate {
					background-position: 0 -126px;
				}
				&.offices {
					background-position: 0 -168px;
				}
				&.clients {
					background-position: 0 -42px;
				}
				&.value {
					background-position: 0 0;
				}
			}
		}
	}
	
	.feedback {
		color: #002a61;
		.section-title {
			margin: 46px 0 56px;
			font-size: 48px;
			line-height: 42px;
			color: #002a61;
		}
		
		.steps {
			display: inline-block;
			.step {
				position: relative;
				display: inline-block;
				margin-right: 94px;
				padding-left: 46px;
				font-size: 16px;
				text-align: left;
				vertical-align: top;
				&:last-child { margin-right: 0; }
				.icon {
					position: absolute;
					left: 0;
					top: 2px;
					width: 34px;
					height: 34px;
					background: url('../img/pages/bonds/feedback-icons.png') no-repeat 0 0;
					
					&.icon-1 { background-position: 0 0; }
					&.icon-2 { background-position: 0 -34px; }
					&.icon-3 { background-position: 0 -68px; }
				}
			}
		}
		
		.feedback-form {
			margin: 40px -10px 0;
		}
	}
	
}
