@import 'partials/variables';
.mutual-funds {
	.header {
		.content {
			background: url(../img/pages/bonds/header.jpg) no-repeat top center;
			background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header.jpg', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/bonds/header.jpg', sizingMethod='scale')";
		}
	}
	
	.what-is {
		background: #4c535e url('../img/pages/bonds/what-is-bg.jpg') no-repeat 50% 50%;
		background-size: cover;
		letter-spacing: 0;
		
		.section-title,
		.description {
			color: white;
		}
		.section-title {
			margin-top: 34px;
			margin-bottom: 20px;
		}
		.description {
			margin: 0 0 60px;
			line-height: 20px;
			font-size: 20px;
			
			&:after {
				position: relative;
				top: 34px;
				display: block;
				margin: 0 auto;
				content: " ";
				width: 47px;
				height: 3px;
				background: #4992ff;
			}

			@media (min-width: $screen-lg) {
				margin: 0 0 80px;
				line-height: 33px;
				font-size: 30px;
			}
		}
		p {
			margin: 0 0 24px;

			font-size: 18px;

			@media (min-width: $screen-lg) {
				font-size: 20px;
			}
		}

		@media (min-width: $screen-sm) {
			height: auto;
		}

		@media (min-width: $screen-lg) {
			height: 446px;
		}
	}
	
	.teaser.consultation {
		background: #eceff4;
		border-top: 1px solid #9ea9b8;
		color: #7c899b;
		
		.section-title {
			margin: 28px 0 20px;
			color: #002a61;

			@media (min-width: $screen-lg) {
				margin: 56px 0 42px;
				font-size: 50px;
				line-height: 60px;
			}
		}
		.trader,
		.time {
			span.icon {
				float: left;
				margin-left: -120px;
				width: 101px;
				height: 101px;
			}
		}
		
		.time {
			span.icon {
				background: url('../img/pages/bonds/consultation-time.png') no-repeat 0 0;
			}
		}
		
		.trader {
			span.icon {
				margin-left: -110px;
				width: 93px;
				height: 93px;
				background: url('../img/pages/bonds/consultation-trader.png') no-repeat 0 0;
			}
		}
		
		.actions {
			padding-top: 24px;
			padding-bottom: 36px;
			@media (min-width: $screen-lg) {
				padding-top: 84px;
				padding-bottom: 96px;
			}
		}
		p {
			margin: 0 0 18px;

			@media (min-width: $screen-lg) {
				margin: 0;	
			}
		}
	}
	
	.advantages {
		height: 1750px;
		color: white;
		background: url('../img/pages/bonds/advantages-bg.jpg') no-repeat 50% 50%;
		background-size: cover;
		
		.section-title {
			margin: 30px 0 40px;

			@media (min-width: $screen-lg) {
				margin: 62px 0 110px;
			}
		}
		
		.item {
			position: relative;
			margin-bottom: 60px;
			padding-top: 102px;
			
			.icon {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -45px;
				width: 90px;
				height: 84px;
				background: url('../img/pages/bonds/advantages-icons.png') no-repeat 0 0;
				
				&.shield { background-position: 0 0; }
				&.value { background-position: 0 -84px; }
				&.immersion { background-position: 0 -168px; }
				&.result {
					height: 86px;
					background-position: 0 -252px;
				}
				&.liquidity {
					top: 4px;
					height: 81px;
					background-position: 0 -338px;
				}
				&.management { background-position: 0 -419px; }
			}
		}
		
		h3 {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: 400;
		}
		p {
			font-size: 14px;
			line-height: 18px;
			color: #cacaca;
		}

		@media (min-width: $screen-sm) {
			height: 740px;
		}

		@media (min-width: $screen-lg) {
			height: 996px;
			h3 {
				margin: 0 0 22px;
				font-size: 30px;
			}
			p {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
	
	.teaser.selection {
		padding: 24px 0 36px;
		background: #eceff4;
		border-top: 1px solid #9ea9b8;
		
		.section-title {
			margin: 0 0 28px;
			color: #002a61;

			@media (min-width: $screen-lg) {
				font-size: 50px;
				line-height: 60px;
			}
		}
		p {
			margin: 0;
			color: #7c899b;
		}
		.actions {
			margin: 70px 0 0;
			text-align: center;
		}

		@media (min-width: $screen-lg) {
			padding: 50px 0 72px;
		}
	}
	
	.experience {
		background: #4d5560 url('../img/pages/bonds/experience-bg.jpg') no-repeat 50% 50%;
		background-size: cover;
		color: white;
		
		.section-label {
			color: white;
		}
		
		.section-title {
			margin-bottom: 64px;
		}
		
		.item {
			position: relative;
			margin-bottom: 80px;
			padding-top: 62px;
			color: #ccd7e6;
			
			b {
				display: block;
				margin-bottom: 22px;
				font-size: 30px;
				line-height: 33px;
				color: white;
				font-weight: normal;
			}
			
			&.rate {
				@media (min-width: $screen-lg) {
					margin: 0 -14px;
				}
			}
			
			.icon {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -23px;
				width: 46px;
				height: 42px;
				background: url('../img/pages/bonds/experience-icons.png') no-repeat 0 0;
				
				&.year {
					background-position: 0 -84px;
				}
				&.rate {
					background-position: 0 -126px;
				}
				&.offices {
					background-position: 0 -168px;
				}
				&.clients {
					background-position: 0 -42px;
				}
				&.value {
					background-position: 0 0;
				}
			}
		}
	}
}
