@import 'partials/variables';
.pai {
	.header {
		.content {
			background: url('../img/pages/pai/header.jpg') no-repeat center;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/pai/header.jpg', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/pai/header.jpg', sizingMethod='scale')";
			background-size: cover;

			.page-title-description {
				margin-bottom: 80px;
				line-height: 25px;
				color: #002665;
			}

			@media (min-width: $screen-md) {

			}
		}
	}

	.what-is {
		padding: 30px 0;
		background: url('../img/pages/pai/what-is.jpg') no-repeat center;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/pai/what-is.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/pai/what-is.jpg', sizingMethod='scale')";
		background-size: cover;
	}

	.which {
		padding: 0 0 44px;
		background: #eceff4;
	}
}
