@import 'partials/variables';
.support {
	.page-title {
		margin: 0 -10px;
		padding-top: 12px;
		padding-bottom: 18px;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		color: #002665;
		text-align: center;

		@media (min-width: $screen-sm) {
			margin-bottom: 46px;
			padding-top: 16px;
			padding-bottom: 16px;
			font-size: 30px;
			font-weight: 300;
			line-height: 30px;
			border-bottom: 1px solid #dadce1;
			text-align: left;
		}
	}

	.sub-menu {
		margin: 0 -10px;
		padding: 0;
		list-style: none;
		border-top: 1px solid #b6bcc5; 
		border-bottom: 1px solid #b6bcc5;

		>li,
		>li.item {
			text-align: center;
			a {
				display: inline-block;
				margin: 13px 0 11px;
				padding: 2px 0;
				font-size: 16px;
				line-height: 16px;
				text-decoration: none;
				color: #6d6d6d;

				@media (min-width: $screen-sm) {
					display: block;
					margin: 0 0 0 42px;
					padding: 14px 0;
					font-size: 20px;
					line-height: 20px;
				}
				@media (min-width: $screen-md) {
					margin-left: 68px;
				}
			}
			>a {
				position: relative;
				display: block;
				margin: 0;
				padding: 15px 0;
				color: #445267;

				&.active {
					border-top: 1px solid #b6bcc5;
					border-bottom: 1px solid #b6bcc5;
					
					&:before {
						@media (max-width: $screen-xs-max) {
							top: -2px;
							height: 2px;
							background: #ffc300;
						}
					}

					@media (min-width: $screen-sm) {
						color: #445267;
						border: 0;
						background: #dce0e7;
					}
				}
				&:before {
					@media (max-width: $screen-xs-max) {
						position: absolute;
						top: 0;
						left: 50%;
						margin-left: -35px;
						width: 70px;
						height: 1px;
						background: #b6bcc5;
						content: ' ';
					}
				}
				.icon { display: none; }
				@media (min-width: $screen-sm) {
					position: relative;
					padding: 24px 0 24px 42px;
					color: #47669a;
					&.dropdown {
						.label {
							border-bottom: 1px dashed;
						}
					}
					.icon {
						position: absolute;
						display: block;
						top: 50%;
						margin-top: -7px;
						margin-left: -35px;
						width: 18px;
						height: 18px;
						background: url('../img/pages/support/sub-menu-icons.png') no-repeat 0 0;

						&.newbie { background-position: 0 0; }
						&.funds { background-position: 0 -18px; }
						&.trust { background-position: 0 -36px; }
						&.pia { background-position: 0 -54px; }
					}
				}
				@media (min-width: $screen-md) {
					padding-left: 68px;
				}
			}
			&:first-child {
				>a.active {
					border-top: 0;
				}
			}
			&:last-child {
				>a.active {
					border-bottom: 0;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {

					a {
						border-bottom: 2px solid transparent;
						&.active {
							color: #000000;
							border-bottom-color: #ffc300;
						}
						@media (min-width: $screen-sm) {
							font-size: 18px;
						}
					}
				}
			}
			@media (min-width: $screen-sm) {
				text-align: left;
			}
		}

		@media (min-width: $screen-sm) {
			border: 1px solid #dadce1;
			background: #f2f4f7;
		}
		@media screen and (max-width: $screen-xs-max) {
			margin-bottom: 28px;
		}
	}
	.support-item {
		margin-bottom: 26px;
		line-height: 22px;
		font-size: 15px;
		font-weight: 300;
		color: #333333;
		
		.title {
			margin-top: 0;
			margin-bottom: 18px;
			line-height: 24px;
			font-size: 24px;
			font-weight: 500;
			color: #002665;

			@media (min-width: $screen-sm) {
				line-height: $line-height-base;
				font-size: 30px;
			}
		}

		h3 {
			font-size: 18px;
			line-height: 24px;
			font-weight: 400;

			@media (min-width: $screen-sm) {
				line-height: 28px;
				font-size: 24px;
			}
		}

		.note {
			padding-left: 22px;
			padding-right: 22px;
			font-style: italic;
			border: 1px solid #ffc300;
		}

		ul {
			padding-left: 20px;
			li {
				margin-bottom: 12px;
				padding-left: 10px;
				list-style-image: url('../img/bull.png');
			}
		}
		@media (min-width: $screen-sm) {
			font-size: 18px;
		}
	}

	/* Support sub pages */

	&.support-pia {
		color: #445267;

		.section-title {
			margin: 30px 0;
			color: #002a61;
			@media (min-width: $screen-md) {
				margin: 60px 0;
			}
		}
		
		.what-is {
			.section-title { margin-top: 30px; }

			.description {
				margin-bottom: 20px;
				line-height: 22px;
				font-size: 15px;
				color: #445267;

				&:after { display: none; }

				@media (min-width: $screen-sm) {
					margin-bottom: 80px;
					line-height: 33px;
					font-size: 30px;
				}
			}

			.item {
				dt {
					padding-bottom: 24px;
					font-size: 22px;
					font-weight: 600;

					&:after {
						position: relative;
						display: block;
						top: 12px;
						margin: 0 auto;
						content: " ";
						width: 47px;
						height: 3px;
						background: #ffc300;
					}
					@media (min-width: $screen-sm) {
						padding-bottom: 42px;
						font-size: 30px;

						&:after {
							position: relative;
							display: block;
							top: 21px;
							margin: 0 auto;
							content: " ";
							width: 70px;
							height: 6px;
							background: #ffc300;
						}
					}
				}
				dd {
					margin: 0;
					font-size: 14px;
					line-height: 24px;
					@media (min-width: $screen-sm) {
						font-size: 20px;
					}
				}
			}

			.type-table {
				margin-top: 24px;
				margin-bottom: 24px;

				@media (min-width: $screen-md) {
					margin-top: 108px;
					margin-bottom: 108px;
				}
			}
		}

		.advantages {
			.item {
				position: relative;
				padding-top: 75px;

				.icon {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -40px;
					width: 66px;
					height: 67px;
					background: url('../img/pages/support/advantages-pia-icons.png') no-repeat 0 0;
					background-size: 66px 334px;
					
					&.icon-1 { background-position: 0 0; }
					&.icon-2 { background-position: 0 -67px; }
					&.icon-3 { background-position: 0 -134px; }
					&.icon-4 { background-position: 0 -201px; }
					&.icon-5 { background-position: 0 -267px; }

					@media (min-width: $screen-md) {
						margin-left: -40px;
						width: 80px;
						height: 81px;
						background-size: 80px 405px;

						&.icon-1 { background-position: 0 0; }
						&.icon-2 { background-position: 0 -81px; }
						&.icon-3 { background-position: 0 -162px; }
						&.icon-4 { background-position: 0 -243px; }
						&.icon-5 { background-position: 0 -324px; }
					}
				}

				@media (min-width: $screen-md) {
					padding-top: 95px;
				}
			}
		}

		.what-to-know {
			padding-bottom: 40px;
			background-color: #505762;
			background: url('../img/pages/support/what-to-know-pia.jpg') no-repeat top center;
			background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/what-to-know-pia.jpg', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/what-to-know-pia.jpg', sizingMethod='scale')";
			color: #f4f4f4;

			.section-title { color: white;}

			.know-list {
				font-size: 15px;

				@media (max-width: $screen-xs-max) {
					li {
						padding-top: 22px;
						margin-bottom: 10px;
						text-align: center;
						&:before {
							top: 0;
							left: 50%;
							margin-left: -10px;
						}
					}
				}
				@media (min-width: $screen-sm) {
					font-size: 20px;
					font-weight: 300;
				}
			}

			@media (min-width: $screen-sm) {
				padding-bottom: 50px;
			}
			@media (min-width: $screen-md) {
				padding-bottom: 90px;
			}
		}

		.which {
			.section-title {
				margin: 30px 0;
				font-weight: 500;
				line-height: 22px;
				font-size: 22px;
				
				color: #002665;

				em {
					font-style: normal;
					font-size: 22px;
				}
				small {
					font-size: 22px;
				}
				@media (min-width: $screen-sm) {
					font-size: 70px;
					font-weight: 300;
					line-height: 60px;
					color: #78849b;
					em,
					small {
						display: block;
					}

					em {
						line-height: 25px;
						font-weight: 500;
						font-size: 18px;
						color: #4992ff;
						text-transform: uppercase;
					}
					small {
						margin-top: 20px;
						font-size: 20px;
						line-height: 22px;
					}
				}
			}

			.item {
				font-size: 14px;
				text-align: center;
				
				.title {
					display: inline-block;
					padding: 35px 0;
					width: 98px;
					height: 98px;
					line-height: 15px;
					font-size: 15px;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					background: #ffc300;
					border-radius: 49px;

					@media (min-width: $screen-sm) {
						padding: 50px 0;
						width: 156px;
						height: 156px;
						line-height: 24px;
						font-size: 24px;
						border-radius: 78px;
					}
				}

				p { margin-top: 0; }

				@media (min-width: $screen-sm) {
					font-size: 20px;
				}
			}
		}

		.how {
			padding-bottom: 46px;
			font-size: 15px;
			.item {
				padding: 0 20px;
				line-height: 17px;
				color: white;

				.title {
					line-height: 30px;
					font-size: 30px;
					font-weight: 400;

					@media (min-width: $screen-md) {
						line-height: 55px;
						font-size: 50px;
						font-weight: 300;
					}
				}
				@media (min-width: $screen-sm) {
					height: 570px;
					font-weight: 300;
					background-color: #5a6473;

					&.item-deposit {
						background: #5a6473 url('../img/pages/support/how-01-pia.jpg') no-repeat top center;
						background-size: cover;
						filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-01-pia.jpg', sizingMethod='scale');
						-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-01-pia.jpg', sizingMethod='scale')";
					}
					&.item-income {
						background: #5a6473 url('../img/pages/support/how-02-pia.jpg') no-repeat top center;
						background-size: cover;
						filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-02-pia.jpg', sizingMethod='scale');
						-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-02-pia.jpg', sizingMethod='scale')";
					}
				}
				@media (min-width: $screen-md) {
					padding: 0 40px;
					height: 820px;
					font-size: 20px;
					line-height: 22px;
					font-weight: 300;
				}
				@media (min-width: $screen-lg) {
					height: 700px;
				}
			}

			@media (max-width: $screen-xs-max) {
				background: #5a6473 url('../img/pages/support/how-01-pia.jpg') no-repeat top center;
				background-size: cover;
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-01-pia.jpg', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pages/support/how-01-pia.jpg', sizingMethod='scale')";
			}
			@media (min-width: $screen-sm) {
				padding-top: 30px;
				background: none;
			}
			@media (min-width: $screen-md) {
				padding-top: 50px;
				background: none;
			}
		}
	}
	/* Graph on page */
	.change-risk {
		text-align: right;
		span {
			display: inline-block;
			font-size: 20px;
			font-weight: 400;
			color: #002665;
			cursor: pointer;
		}

		.ranger {
			position: relative;
			margin: 0 10px;
			width: 35px;
			height: 12px;
			background: #f2f4f7;
			border: 1px solid #9ea9b8;
			border-radius: 4px;

			i {
				position: absolute;
				top: -5px;
				left: -5px;
				width: 20px;
				height: 20px;
				background: white;
				border: 2px solid #4992ff;
				border-radius: 10px;
			}
			&.high {
				i {
					left: auto;
					right: -5px;
				}
			}
			&.low {
				i {
					left: -5px;
					right: auto;
				}
			}
		}
	}
}