#cities-choice.cities-choice
	.container
		.row
			.col-xs-11.col-sm-5
				h3.city-char А
				.city
					a(href="#") Альметьевск
				.city
					a(href="#") Астрахань
				h3.city-char Б
				.city
					a(href="#") Барнаул
				h3.city-char В
				.city
					a(href="#") Волгоград
				.city
					a(href="#") Воронеж
				h3.city-char Е
				.city
					a(href="#") Екатеринбург
				h3.city-char И
				.city
					a(href="#") Ижевск
				.city
					a(href="#") Иркутск
				h3.city-char К
				.city
					a(href="#") Казань
				.city
					a(href="#") Калининград
				.city
					a(href="#") Кемерово
				.city
					a(href="#") Краснодар
				.city
					a(href="#") Красноярск
			.col-xs-11.col-sm-5
				h3.city-char Л
				.city
					a(href="#") Липецк
				h3.city-char М
				.city
					a(href="#") Москва
				h3.city-char Н
				.city
					a(href="#") Нижний Новгород
				.city
					a(href="#") Новокузнецк
				.city
					a(href="#") Новосибирск
				h3.city-char О
				.city
					a(href="#") Омск
				.city
					a(href="#") Оренбург
				h3.city-char П
				.city
					a(href="#") Пенза
				.city
					a(href="#") Пермь
			.col-sm-5
				h3.city-char Р
				.city
					a(href="#") Ростов-на-Дону
				h3.city-char С
				.city
					a(href="#") Самара
				.city
					a(href="#") Санкт-Петербург
				.city
					a(href="#") Саратов
				.city
					a(href="#") Сочи
				.city
					a(href="#") Ставрополь
				.city
					a(href="#") Стерлитамак
				.city
					a(href="#") Сургут
				h3.city-char Т
				.city
					a(href="#") Таганрог
				.city
					a(href="#") Тольятти
				.city
					a(href="#") Томск
				.city
					a(href="#") Тюмень
				h3.city-char У
				.city
					a(href="#") Уфа
			.col-sm-5
				h3.city-char Ч
				.city
					a(href="#") Челябинск
				.city
					a(href="#") Череповец
				h3.city-char Я
				.city
					a(href="#") Ярославль