footer.footer.clearfix
	.container
		.row
			.col-sm-18.col-sm-offset-1
				ul.footer-menu.clearfix
					li
						a(href="#") О компании
					li
						a(href="#") Руководство
					li
						a(href="#") Новости
					li
						a(href="#") Офисы и агенты
				.social.clearfix
					span.label Мы в соц. сетях
					a.item.tw(href="#")
					a.item.vk(href="#")
					a.item.fb(href="#")
		.row
			.col-sm-18.col-sm-offset-1
				.copy-and-address.clearfix
					.address
						.phone-num 8 800 100 73 70
						.phone-descr бесплатный звонок по россии
						.city-select.offices-select
							span Москва
						.addr
							span.icon
							|Проспект мира, д.69, стр. 1
						.tel
							span.icon
							|+7 (495) 785 19 99
					.copy
						p 1. Под доходностью имеется в виду прирост стоимости пая. Указана доходность ОПИФ фондов «БКС — Зарубежные Фонды», ОПИФ смешанных инвестиций «БКС — Технологии» и ОПИФ смешанных инвестиций «БКС — Глобальные рынки» за 2014 год.
						p ООО «Компания БКС» является агентом ЗАО УК «БКС» по выдаче, погашению и обмену паев.
						p ЗАО УК «БКС». Лицензия № 21-000-1-00071 от 25.06.2002 г. на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами. Выдана ФСФР РФ. Подробную информацию об осуществлении ЗАО УК «БКС» а также об агентах, в том числе о полном, сокращенном фирменном названии, местонахождении, лицензии агентов, деятельности по управлению паевыми инвестиционными фондами Вы можете найти в информационном бюллетене «Приложение к Вестнику ФСФР», на сайте www.bcs.ru/am, в ленте ЗАО «Интерфакс», в ЗАО УК «БКС» по адресу: Российская Федерация, 630099, г. Новосибирск, ул. Советская, д. 37, тел.: (383) 210-50-20. Стоимость инвестиционных паёв может увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем. ЗАО УК «БКС», государство не гарантируют доходность инвестиций в инвестиционные фонды. Прежде чем приобрести инвестиционный пай, следует внимательно ознакомиться с правилами доверительного управления паевым фондом.