script(src="Content/js/vendor/jquery-2.1.4.min.js")
script(src="Content/js/vendor/selectize.js")
script(src="Content/js/vendor/nouislider.js")
script(src="Content/js/vendor/wNumb.js")
script(src="Content/js/vendor/owl.carousel.min.js")
script(src="Content/js/main.js")
script(src="Content/js/wow.js")
script.
	new WOW().init();