meta(charset="utf-8")/
meta(http-equiv="X-UA-Compatible" content="IE=edge")/
title BCS Broker landing page - structured bonds
meta(name="description" content="")/
meta(name="viewport" content="width=device-width, initial-scale=1")/
link(rel="stylesheet" href="Content/css/fonts.css")/
link(rel="stylesheet" href="Content/css/vendor/normalize.css")/
link(rel="stylesheet" href="Content/css/vendor/bootstrap.custom.css")/
link(rel="stylesheet" href="Content/css/vendor/nouislider.css")/
link(rel="stylesheet" href="Content/css/vendor/selectize.default.css")/
link(rel="stylesheet" href="Content/css/main.css")/
link(rel="shortcut icon" href="Content/img/favicon.ico")/