.top-panel.clearfix
	.container
		.row
			.col-sm-18.col-sm-offset-1
				.toggle-nav
				a.brand(href="http://broker.ru" target="_blank")
					img(src="Content/img/logo.png" alt="БКС Брокер")/
				ul.hidden-xs.top-nav.pull-left(role="nav")
					li.hidden-sm
						a(href="about.html")
							span.icon.home
							|О компании
					li
						a(href="#")
							span.icon.cabinet
							|Личный кабинет
					li
						a.pseudo-link.offices(href="/contacts")
							span.icon.offices
							i Офисы в москве
				.meta.pull-right
					.search
						a.search-icon.text-hide(href="#") Поиск
					.phone
						a.phone-icon(href="tel:88005005545")
						a.cpc-tel.num(href="tel:88005005545") 8 800 500 55 45
						span.description бесплатный звонок по России
nav.menu
	.container
		.row
			.col-sm-18.col-sm-offset-1
				ul.main-nav.clearfix
					li
						a(href="mutual-funds.html") Паевые фонды
					li
						a(href="trust-management.html") Доверительное управление
					li
						a(href="pia.html") ИИС
					li
						a(href="analytics.html") Аналитика
					li
						a(href="#") Тарифы
					li
						a(href="support.html") Поддержка
					li.open-account.last
						a(href="#") Открыть счёт
